# busan_arts_achievement_index

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
final_art_achievement_index = pd.DataFrame(data)
final_art_achievement_index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [ ]:
arts_achievement_index = pd.read_csv('../Busan_data/arts_achievement_index_calculate.csv')
arts_achievement_index

,구,Average_satisfaction,Sum_of_willingness_to_watch,Satisfaction_intention_arts_education,Leisure_satisfaction,Happiness_level,Quality_of_life,Performance_market_revenue,Art_market_revenue,Cultural_exchanges
0,강서구,5.835556,12.2556,390,0.290402,0.330334,0.479928,493266,5946,9.03
1,금정구,5.835556,12.2556,390,0.090374,0.461744,0.536850,493266,5946,9.03
2,기장군,5.835556,12.2556,390,0.521070,0.473784,0.437427,493266,5946,9.03
3,남구,5.835556,12.2556,390,0.087064,0.427650,0.553098,493266,5946,9.03
4,동구,5.835556,12.2556,390,0.135842,0.531745,0.036110,493266,5946,9.03
5,동래구,5.835556,12.2556,390,0.065514,0.523733,0.643667,493266,5946,9.03
6,부산진구,5.835556,12.2556,390,0.119309,0.447026,0.423916,493266,5946,9.03
7,북구,5.835556,12.2556,390,0.000000,0.363738,0.306465,493266,5946,9.03
8,사상구,5.835556,12.2556,390,0.051671,0.403220,0.090277,493266,5946,9.03
9,사하구,5.835556,12.2556,390,0.090943,0.317932,0.110362,493266,5946,9.03
10,서구,5.835556,12.2556,390,0.107611,0.532875,0.304445,493266,5946,9.03
11,수영구,5.835556,12.2556,390,0.040432,0.417241,0.346696,493266,5946,9.03
12,연제구,5.835556,12.2556,390,0.023793,0.419896,0.642823,493266,5946,9.03
13,영도구,5.835556,12.2556,390,0.124300,0.351800,0.227300,493266,5946,9.03
14,중구,5.835556,12.2556,390,0.428850,0.603554,0.022514,493266,5946,9.03
15,해운대구,5.835556,12.2556,390,0.126660,0.391456,0.631429,493266,5946,9.03

## 문화예술만족도 및 관람의향 (Arts and culture satisfaction and intent to attend)

In [ ]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [ ]:
Average_satisfaction_mean = arts_achievement_index['Average_satisfaction'].mean()
Average_satisfaction_mean

5.835556

In [ ]:
cal_df['Average_satisfaction'] = arts_achievement_index['Average_satisfaction']/Average_satisfaction_mean
cal_df

       구  Average_satisfaction
0    강서구                   1.0
1    금정구                   1.0
2    기장군                   1.0
3     남구                   1.0
4     동구                   1.0
5    동래구                   1.0
6   부산진구                   1.0
7     북구                   1.0
8    사상구                   1.0
9    사하구                   1.0
10    서구                   1.0
11   수영구                   1.0
12   연제구                   1.0
13   영도구                   1.0
14    중구                   1.0
15  해운대구                   1.0

In [ ]:
Sum_of_willingness_to_watch_mean = arts_achievement_index['Sum_of_willingness_to_watch'].mean()
Sum_of_willingness_to_watch_mean

12.2556

In [ ]:
cal_df['Sum_of_willingness_to_watch'] = arts_achievement_index['Sum_of_willingness_to_watch']/Sum_of_willingness_to_watch_mean
cal_df

       구  Average_satisfaction  Sum_of_willingness_to_watch
0    강서구                   1.0                          1.0
1    금정구                   1.0                          1.0
2    기장군                   1.0                          1.0
3     남구                   1.0                          1.0
4     동구                   1.0                          1.0
5    동래구                   1.0                          1.0
6   부산진구                   1.0                          1.0
7     북구                   1.0                          1.0
8    사상구                   1.0                          1.0
9    사하구                   1.0                          1.0
10    서구                   1.0                          1.0
11   수영구                   1.0                          1.0
12   연제구                   1.0                          1.0
13   영도구                   1.0                          1.0
14    중구                   1.0                          1.0
15  해운대구                   1.0                          1.0

In [ ]:
cal_df['Arts_and_culture_satisfaction_and_intent_to_attend'] = (cal_df['Average_satisfaction'] + cal_df['Sum_of_willingness_to_watch'])/2
cal_df['Arts_and_culture_satisfaction_and_intent_to_attend'] = cal_df['Arts_and_culture_satisfaction_and_intent_to_attend']*100
cal_df

,구,Average_satisfaction,Sum_of_willingness_to_watch,Arts_and_culture_satisfaction_and_intent_to_attend
0,강서구,1.0,1.0,100.0
1,금정구,1.0,1.0,100.0
2,기장군,1.0,1.0,100.0
3,남구,1.0,1.0,100.0
4,동구,1.0,1.0,100.0
5,동래구,1.0,1.0,100.0
6,부산진구,1.0,1.0,100.0
7,북구,1.0,1.0,100.0
8,사상구,1.0,1.0,100.0
9,사하구,1.0,1.0,100.0
10,서구,1.0,1.0,100.0
11,수영구,1.0,1.0,100.0
12,연제구,1.0,1.0,100.0
13,영도구,1.0,1.0,100.0
14,중구,1.0,1.0,100.0
15,해운대구,1.0,1.0,100.0

In [ ]:
final_art_achievement_index['sat_intent'] = cal_df['Arts_and_culture_satisfaction_and_intent_to_attend']
final_art_achievement_index

       구  Arts_and_culture_satisfaction_and_intent_to_attend
0    강서구                                              100.0
1    금정구                                              100.0
2    기장군                                              100.0
3     남구                                              100.0
4     동구                                              100.0
5    동래구                                              100.0
6   부산진구                                              100.0
7     북구                                              100.0
8    사상구                                              100.0
9    사하구                                              100.0
10    서구                                              100.0
11   수영구                                              100.0
12   연제구                                              100.0
13   영도구                                              100.0
14    중구                                              100.0
15  해운대구                                              100.0

## 문화예술교육만족도 및 수강의향

In [ ]:
Satisfaction_intention_arts_education_mean = arts_achievement_index['Satisfaction_intention_arts_education'].mean()
Satisfaction_intention_arts_education_mean

390.0

In [ ]:
final_art_achievement_index['edu_intent'] = (arts_achievement_index['Satisfaction_intention_arts_education']/Satisfaction_intention_arts_education_mean)*100
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education
0,강서구,100.0,100.0
1,금정구,100.0,100.0
2,기장군,100.0,100.0
3,남구,100.0,100.0
4,동구,100.0,100.0
5,동래구,100.0,100.0
6,부산진구,100.0,100.0
7,북구,100.0,100.0
8,사상구,100.0,100.0
9,사하구,100.0,100.0
10,서구,100.0,100.0
11,수영구,100.0,100.0
12,연제구,100.0,100.0
13,영도구,100.0,100.0
14,중구,100.0,100.0
15,해운대구,100.0,100.0

## 여가생활 만족도

In [ ]:
Leisure_satisfaction_mean = arts_achievement_index['Leisure_satisfaction'].mean()
Leisure_satisfaction_mean

0.14398955372620106

In [ ]:
final_art_achievement_index['sat_leisure'] = (arts_achievement_index['Leisure_satisfaction']/Leisure_satisfaction_mean)*100
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time
0,강서구,100.0,100.0,201.682538
1,금정구,100.0,100.0,62.764029
2,기장군,100.0,100.0,361.880220
3,남구,100.0,100.0,60.465679
4,동구,100.0,100.0,94.341269
5,동래구,100.0,100.0,45.498867
6,부산진구,100.0,100.0,82.859146
7,북구,100.0,100.0,0.000000
8,사상구,100.0,100.0,35.885267
9,사하구,100.0,100.0,63.159593
10,서구,100.0,100.0,74.734953
11,수영구,100.0,100.0,28.079837
12,연제구,100.0,100.0,16.524141
13,영도구,100.0,100.0,86.325707
14,중구,100.0,100.0,297.833821
15,해운대구,100.0,100.0,87.964933

## 행복 및 삶의질 (Happiness and quality of life)

In [ ]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [ ]:
cal_df['Happiness_level'] = arts_achievement_index['Happiness_level']
cal_df['Quality_of_life'] = arts_achievement_index['Quality_of_life']
cal_df

       구  Happiness_level  Quality_of_life
0    강서구         0.330334         0.479928
1    금정구         0.461744         0.536850
2    기장군         0.473784         0.437427
3     남구         0.427650         0.553098
4     동구         0.531745         0.036110
5    동래구         0.523733         0.643667
6   부산진구         0.447026         0.423916
7     북구         0.363738         0.306465
8    사상구         0.403220         0.090277
9    사하구         0.317932         0.110362
10    서구         0.532875         0.304445
11   수영구         0.417241         0.346696
12   연제구         0.419896         0.642823
13   영도구         0.351800         0.227300
14    중구         0.603554         0.022514
15  해운대구         0.391456         0.631429

In [ ]:
Happiness_level_mean= arts_achievement_index['Happiness_level'].mean()
Happiness_level_mean

0.43735786715913627

In [ ]:
Quality_of_life_mean = arts_achievement_index['Quality_of_life'].mean()
Quality_of_life_mean

0.36208167223939314

In [ ]:
cal_df['Happiness_level'] = (arts_achievement_index['Happiness_level']/Happiness_level_mean)*100
cal_df['Quality_of_life'] = (arts_achievement_index['Quality_of_life']/Quality_of_life_mean)*100
cal_df

       구  Happiness_level  Quality_of_life
0    강서구        75.529363       132.546819
1    금정구       105.575808       148.267745
2    기장군       108.328596       120.808856
3     남구        97.780269       152.755087
4     동구       121.581139         9.972828
5    동래구       119.749279       177.768328
6   부산진구       102.210514       117.077388
7     북구        83.167081        84.639697
8    사상구        92.194587        24.932719
9    사하구        72.693746        30.479922
10    서구       121.839669        84.081862
11   수영구        95.400304        95.750795
12   연제구        96.007511       177.535349
13   영도구        80.437561        62.775892
14    중구       137.999946         6.218033
15  해운대구        89.504628       174.388679

In [ ]:
final_art_achievement_index['Happy_life'] = (cal_df['Happiness_level'] + cal_df['Quality_of_life'])/2
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life
0,강서구,100.0,100.0,201.682538,104.038091
1,금정구,100.0,100.0,62.764029,126.921776
2,기장군,100.0,100.0,361.880220,114.568726
3,남구,100.0,100.0,60.465679,125.267678
4,동구,100.0,100.0,94.341269,65.776983
5,동래구,100.0,100.0,45.498867,148.758803
6,부산진구,100.0,100.0,82.859146,109.643951
7,북구,100.0,100.0,0.000000,83.903389
8,사상구,100.0,100.0,35.885267,58.563653
9,사하구,100.0,100.0,63.159593,51.586834
10,서구,100.0,100.0,74.734953,102.960765
11,수영구,100.0,100.0,28.079837,95.575549
12,연제구,100.0,100.0,16.524141,136.771430
13,영도구,100.0,100.0,86.325707,71.606726
14,중구,100.0,100.0,297.833821,72.108990
15,해운대구,100.0,100.0,87.964933,131.946653

## 공연시장매출액

In [ ]:
arts_achievement_index

,구,Average_satisfaction,Sum_of_willingness_to_watch,Satisfaction_intention_arts_education,Leisure_satisfaction,Happiness_level,Quality_of_life,Performance_market_revenue,Art_market_revenue,Cultural_exchanges
0,강서구,5.835556,12.2556,390,0.290402,0.330334,0.479928,493266,5946,9.03
1,금정구,5.835556,12.2556,390,0.090374,0.461744,0.536850,493266,5946,9.03
2,기장군,5.835556,12.2556,390,0.521070,0.473784,0.437427,493266,5946,9.03
3,남구,5.835556,12.2556,390,0.087064,0.427650,0.553098,493266,5946,9.03
4,동구,5.835556,12.2556,390,0.135842,0.531745,0.036110,493266,5946,9.03
5,동래구,5.835556,12.2556,390,0.065514,0.523733,0.643667,493266,5946,9.03
6,부산진구,5.835556,12.2556,390,0.119309,0.447026,0.423916,493266,5946,9.03
7,북구,5.835556,12.2556,390,0.000000,0.363738,0.306465,493266,5946,9.03
8,사상구,5.835556,12.2556,390,0.051671,0.403220,0.090277,493266,5946,9.03
9,사하구,5.835556,12.2556,390,0.090943,0.317932,0.110362,493266,5946,9.03
10,서구,5.835556,12.2556,390,0.107611,0.532875,0.304445,493266,5946,9.03
11,수영구,5.835556,12.2556,390,0.040432,0.417241,0.346696,493266,5946,9.03
12,연제구,5.835556,12.2556,390,0.023793,0.419896,0.642823,493266,5946,9.03
13,영도구,5.835556,12.2556,390,0.124300,0.351800,0.227300,493266,5946,9.03
14,중구,5.835556,12.2556,390,0.428850,0.603554,0.022514,493266,5946,9.03
15,해운대구,5.835556,12.2556,390,0.126660,0.391456,0.631429,493266,5946,9.03

In [ ]:
Performance_market_revenue_mean = arts_achievement_index['Performance_market_revenue'].mean()
Performance_market_revenue_mean

493266.0

In [ ]:
final_art_achievement_index['perf_revenue'] = (arts_achievement_index['Performance_market_revenue']/Performance_market_revenue_mean)*100
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales
0,강서구,100.0,100.0,201.682538,104.038091,100.0
1,금정구,100.0,100.0,62.764029,126.921776,100.0
2,기장군,100.0,100.0,361.880220,114.568726,100.0
3,남구,100.0,100.0,60.465679,125.267678,100.0
4,동구,100.0,100.0,94.341269,65.776983,100.0
5,동래구,100.0,100.0,45.498867,148.758803,100.0
6,부산진구,100.0,100.0,82.859146,109.643951,100.0
7,북구,100.0,100.0,0.000000,83.903389,100.0
8,사상구,100.0,100.0,35.885267,58.563653,100.0
9,사하구,100.0,100.0,63.159593,51.586834,100.0
10,서구,100.0,100.0,74.734953,102.960765,100.0
11,수영구,100.0,100.0,28.079837,95.575549,100.0
12,연제구,100.0,100.0,16.524141,136.771430,100.0
13,영도구,100.0,100.0,86.325707,71.606726,100.0
14,중구,100.0,100.0,297.833821,72.108990,100.0
15,해운대구,100.0,100.0,87.964933,131.946653,100.0

## 미술시장매출액

In [ ]:
Art_market_revenue_mean = arts_achievement_index['Art_market_revenue'].mean()
Art_market_revenue_mean

5946.0

In [ ]:
final_art_achievement_index['art_revenue'] = (arts_achievement_index['Art_market_revenue']/Art_market_revenue_mean)*100
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales
0,강서구,100.0,100.0,201.682538,104.038091,100.0,100.0
1,금정구,100.0,100.0,62.764029,126.921776,100.0,100.0
2,기장군,100.0,100.0,361.880220,114.568726,100.0,100.0
3,남구,100.0,100.0,60.465679,125.267678,100.0,100.0
4,동구,100.0,100.0,94.341269,65.776983,100.0,100.0
5,동래구,100.0,100.0,45.498867,148.758803,100.0,100.0
6,부산진구,100.0,100.0,82.859146,109.643951,100.0,100.0
7,북구,100.0,100.0,0.000000,83.903389,100.0,100.0
8,사상구,100.0,100.0,35.885267,58.563653,100.0,100.0
9,사하구,100.0,100.0,63.159593,51.586834,100.0,100.0
10,서구,100.0,100.0,74.734953,102.960765,100.0,100.0
11,수영구,100.0,100.0,28.079837,95.575549,100.0,100.0
12,연제구,100.0,100.0,16.524141,136.771430,100.0,100.0
13,영도구,100.0,100.0,86.325707,71.606726,100.0,100.0
14,중구,100.0,100.0,297.833821,72.108990,100.0,100.0
15,해운대구,100.0,100.0,87.964933,131.946653,100.0,100.0

## 문화예술 국제교류 건수

In [ ]:
Cultural_exchanges_mean = arts_achievement_index['Cultural_exchanges'].mean()
Cultural_exchanges_mean

9.03

In [ ]:
final_art_achievement_index['global_exchange'] = (arts_achievement_index['Cultural_exchanges']/Cultural_exchanges_mean)*100
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges
0,강서구,100.0,100.0,201.682538,104.038091,100.0,100.0,100.0
1,금정구,100.0,100.0,62.764029,126.921776,100.0,100.0,100.0
2,기장군,100.0,100.0,361.880220,114.568726,100.0,100.0,100.0
3,남구,100.0,100.0,60.465679,125.267678,100.0,100.0,100.0
4,동구,100.0,100.0,94.341269,65.776983,100.0,100.0,100.0
5,동래구,100.0,100.0,45.498867,148.758803,100.0,100.0,100.0
6,부산진구,100.0,100.0,82.859146,109.643951,100.0,100.0,100.0
7,북구,100.0,100.0,0.000000,83.903389,100.0,100.0,100.0
8,사상구,100.0,100.0,35.885267,58.563653,100.0,100.0,100.0
9,사하구,100.0,100.0,63.159593,51.586834,100.0,100.0,100.0
10,서구,100.0,100.0,74.734953,102.960765,100.0,100.0,100.0
11,수영구,100.0,100.0,28.079837,95.575549,100.0,100.0,100.0
12,연제구,100.0,100.0,16.524141,136.771430,100.0,100.0,100.0
13,영도구,100.0,100.0,86.325707,71.606726,100.0,100.0,100.0
14,중구,100.0,100.0,297.833821,72.108990,100.0,100.0,100.0
15,해운대구,100.0,100.0,87.964933,131.946653,100.0,100.0,100.0

## 향유결과지수

In [ ]:
final_art_achievement_index['enjoyment_outcome_index'] = (final_art_achievement_index['sat_intent'] + final_art_achievement_index['edu_intent'] + final_art_achievement_index['sat_leisure'] + final_art_achievement_index['happy_life'])/4
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index
0,강서구,100.0,100.0,201.682538,104.038091,100.0,100.0,100.0,126.430157
1,금정구,100.0,100.0,62.764029,126.921776,100.0,100.0,100.0,97.421451
2,기장군,100.0,100.0,361.880220,114.568726,100.0,100.0,100.0,169.112237
3,남구,100.0,100.0,60.465679,125.267678,100.0,100.0,100.0,96.433339
4,동구,100.0,100.0,94.341269,65.776983,100.0,100.0,100.0,90.029563
5,동래구,100.0,100.0,45.498867,148.758803,100.0,100.0,100.0,98.564418
6,부산진구,100.0,100.0,82.859146,109.643951,100.0,100.0,100.0,98.125774
7,북구,100.0,100.0,0.000000,83.903389,100.0,100.0,100.0,70.975847
8,사상구,100.0,100.0,35.885267,58.563653,100.0,100.0,100.0,73.612230
9,사하구,100.0,100.0,63.159593,51.586834,100.0,100.0,100.0,78.686607
10,서구,100.0,100.0,74.734953,102.960765,100.0,100.0,100.0,94.423930
11,수영구,100.0,100.0,28.079837,95.575549,100.0,100.0,100.0,80.913847
12,연제구,100.0,100.0,16.524141,136.771430,100.0,100.0,100.0,88.323893
13,영도구,100.0,100.0,86.325707,71.606726,100.0,100.0,100.0,89.483108
14,중구,100.0,100.0,297.833821,72.108990,100.0,100.0,100.0,142.485703
15,해운대구,100.0,100.0,87.964933,131.946653,100.0,100.0,100.0,104.977897

## 시장성과지수

In [ ]:
final_art_achievement_index['market_performance_index'] = (final_art_achievement_index['perf_revenue'] + final_art_achievement_index['art_revenue'] + final_art_achievement_index['global_exchange'])/3
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index,Market_Performance_Index
0,강서구,100.0,100.0,201.682538,104.038091,100.0,100.0,100.0,126.430157,100.0
1,금정구,100.0,100.0,62.764029,126.921776,100.0,100.0,100.0,97.421451,100.0
2,기장군,100.0,100.0,361.880220,114.568726,100.0,100.0,100.0,169.112237,100.0
3,남구,100.0,100.0,60.465679,125.267678,100.0,100.0,100.0,96.433339,100.0
4,동구,100.0,100.0,94.341269,65.776983,100.0,100.0,100.0,90.029563,100.0
5,동래구,100.0,100.0,45.498867,148.758803,100.0,100.0,100.0,98.564418,100.0
6,부산진구,100.0,100.0,82.859146,109.643951,100.0,100.0,100.0,98.125774,100.0
7,북구,100.0,100.0,0.000000,83.903389,100.0,100.0,100.0,70.975847,100.0
8,사상구,100.0,100.0,35.885267,58.563653,100.0,100.0,100.0,73.612230,100.0
9,사하구,100.0,100.0,63.159593,51.586834,100.0,100.0,100.0,78.686607,100.0
10,서구,100.0,100.0,74.734953,102.960765,100.0,100.0,100.0,94.423930,100.0
11,수영구,100.0,100.0,28.079837,95.575549,100.0,100.0,100.0,80.913847,100.0
12,연제구,100.0,100.0,16.524141,136.771430,100.0,100.0,100.0,88.323893,100.0
13,영도구,100.0,100.0,86.325707,71.606726,100.0,100.0,100.0,89.483108,100.0
14,중구,100.0,100.0,297.833821,72.108990,100.0,100.0,100.0,142.485703,100.0
15,해운대구,100.0,100.0,87.964933,131.946653,100.0,100.0,100.0,104.977897,100.0

## 예술성과지수

In [ ]:
final_art_achievement_index['busan_arts_achievement_index'] = (final_art_achievement_index['enjoyment_outcome_index'] + final_art_achievement_index['market_performance_index'])/2
final_art_achievement_index

,구,Arts_and_culture_satisfaction_and_intent_to_attend,Satisfaction_and_intention_to_take_arts_education,Satisfaction_with_leisure_time,Happiness_and_quality_of_life,Performance_marketplace_sales,Art_market_sales,Number_of_international_cultural_exchanges,Enjoyment_Outcome_Index,Market_Performance_Index,art_achievement_index
0,강서구,100.0,100.0,201.682538,104.038091,100.0,100.0,100.0,126.430157,100.0,113.215079
1,금정구,100.0,100.0,62.764029,126.921776,100.0,100.0,100.0,97.421451,100.0,98.710726
2,기장군,100.0,100.0,361.880220,114.568726,100.0,100.0,100.0,169.112237,100.0,134.556118
3,남구,100.0,100.0,60.465679,125.267678,100.0,100.0,100.0,96.433339,100.0,98.216670
4,동구,100.0,100.0,94.341269,65.776983,100.0,100.0,100.0,90.029563,100.0,95.014781
5,동래구,100.0,100.0,45.498867,148.758803,100.0,100.0,100.0,98.564418,100.0,99.282209
6,부산진구,100.0,100.0,82.859146,109.643951,100.0,100.0,100.0,98.125774,100.0,99.062887
7,북구,100.0,100.0,0.000000,83.903389,100.0,100.0,100.0,70.975847,100.0,85.487924
8,사상구,100.0,100.0,35.885267,58.563653,100.0,100.0,100.0,73.612230,100.0,86.806115
9,사하구,100.0,100.0,63.159593,51.586834,100.0,100.0,100.0,78.686607,100.0,89.343303
10,서구,100.0,100.0,74.734953,102.960765,100.0,100.0,100.0,94.423930,100.0,97.211965
11,수영구,100.0,100.0,28.079837,95.575549,100.0,100.0,100.0,80.913847,100.0,90.456923
12,연제구,100.0,100.0,16.524141,136.771430,100.0,100.0,100.0,88.323893,100.0,94.161946
13,영도구,100.0,100.0,86.325707,71.606726,100.0,100.0,100.0,89.483108,100.0,94.741554
14,중구,100.0,100.0,297.833821,72.108990,100.0,100.0,100.0,142.485703,100.0,121.242851
15,해운대구,100.0,100.0,87.964933,131.946653,100.0,100.0,100.0,104.977897,100.0,102.488948

In [ ]:
final_art_achievement_index.to_csv('busan_arts_achievement_index.csv', encoding='utf-8-sig', index=False)