In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
art_facilities_index = pd.read_csv('drive/MyDrive/ArtIndex/busan_facilities_data.csv')
art_facilities_index

,구,cul_fac_num,mil_fac_num,hall_num,hall_rate,hall_people,art_people
0,강서구,6,97.557803,1,38.4,41.625,33.9375
1,금정구,29,268.344591,7,38.4,41.625,33.9375
2,기장군,22,286.260784,2,38.4,41.625,33.9375
3,남구,22,186.723929,18,38.4,41.625,33.9375
4,동구,17,366.679608,5,38.4,41.625,33.9375
5,동래구,13,112.342073,6,38.4,41.625,33.9375
6,부산진구,31,178.825864,4,38.4,41.625,33.9375
7,북구,13,105.420221,3,38.4,41.625,33.9375
8,사상구,13,131.817767,2,38.4,41.625,33.9375
9,사하구,15,107.446778,2,38.4,41.625,33.9375
10,서구,9,169.939577,1,38.4,41.625,33.9375
11,수영구,49,570.457297,7,38.4,41.625,33.9375
12,연제구,14,149.563062,1,38.4,41.625,33.9375
13,영도구,17,311.019228,3,38.4,41.625,33.9375
14,중구,35,1462.904911,6,38.4,41.625,33.9375
15,해운대구,98,568.455368,8,38.4,41.625,33.9375

In [ ]:
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}

final_art_facilities_index = pd.DataFrame(data)
final_art_facilities_index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [ ]:
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}

cal_df = pd.DataFrame(data)
cal_df

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [ ]:
fac_num_mean = art_facilities_index.cul_fac_num.mean()
mil_fac_num_mean = art_facilities_index.mil_fac_num.mean()
hall_num_mean = art_facilities_index.hall_num.mean()
hall_rate_mean = art_facilities_index.hall_rate.mean()
hall_people_mean = art_facilities_index.hall_people.mean()
art_people_mean = art_facilities_index.art_people.mean()

In [ ]:
# 시설지수 계산
cal_df['cul_fac_num'] = (fac_num_mean/art_facilities_index['cul_fac_num'])*100
cal_df['mil_fac_num'] = (mil_fac_num_mean/art_facilities_index['mil_fac_num'])*100
cal_df['hall_num'] = (hall_num_mean/art_facilities_index['hall_num'])*100
cal_df['hall_rate'] = (hall_rate_mean/art_facilities_index['hall_rate'])*100
cal_df['hall_num_rate'] = (cal_df['hall_num'] + cal_df['hall_rate'])/2

In [ ]:
final_art_facilities_index['facilities_index'] = (cal_df['cul_fac_num'] + cal_df['mil_fac_num']+ cal_df['hall_num_rate'])/3
final_art_facilities_index

       구  facilities_index
0    강서구        344.113305
1    금정구         96.318225
2    기장군        131.338408
3     남구        115.837101
4     동구        110.714413
5    동래구        188.535026
6   부산진구        122.651298
7     북구        207.907422
8    사상구        201.022303
9    사하구        210.599588
10    서구        251.320896
11   수영구         63.640119
12   연제구        226.478314
13   영도구        126.428912
14    중구         61.074783
15  해운대구         53.724507

In [ ]:
# 시설인력지수 계산
cal_df['hall_people'] = (hall_people_mean/art_facilities_index['hall_people'])*100
cal_df['art_people'] = (hall_people_mean/art_facilities_index['art_people'])*100

In [ ]:
# 시설인력지수 계산
final_art_facilities_index['facilities_people_index'] = (cal_df['hall_people'] + cal_df['art_people'])/2
final_art_facilities_index

       구  facilities_index  facilities_people_index
0    강서구        344.113305               111.325967
1    금정구         96.318225               111.325967
2    기장군        131.338408               111.325967
3     남구        115.837101               111.325967
4     동구        110.714413               111.325967
5    동래구        188.535026               111.325967
6   부산진구        122.651298               111.325967
7     북구        207.907422               111.325967
8    사상구        201.022303               111.325967
9    사하구        210.599588               111.325967
10    서구        251.320896               111.325967
11   수영구         63.640119               111.325967
12   연제구        226.478314               111.325967
13   영도구        126.428912               111.325967
14    중구         61.074783               111.325967
15  해운대구         53.724507               111.325967

In [ ]:
# 예술시설지수
final_art_facilities_index['busan_arts_facilities_index'] = final_art_facilities_index['facilities_index'] + final_art_facilities_index['facilities_people_index']
final_art_facilities_index['busan_arts_facilities_index'] = final_art_facilities_index['busan_arts_facilities_index']/2
final_art_facilities_index

       구  facilities_index  facilities_people_index  art_facilities_index
0    강서구        344.113305               111.325967            227.719636
1    금정구         96.318225               111.325967            103.822096
2    기장군        131.338408               111.325967            121.332187
3     남구        115.837101               111.325967            113.581534
4     동구        110.714413               111.325967            111.020190
5    동래구        188.535026               111.325967            149.930496
6   부산진구        122.651298               111.325967            116.988633
7     북구        207.907422               111.325967            159.616695
8    사상구        201.022303               111.325967            156.174135
9    사하구        210.599588               111.325967            160.962777
10    서구        251.320896               111.325967            181.323431
11   수영구         63.640119               111.325967             87.483043
12   연제구        226.478314               111.325967            168.902141
13   영도구        126.428912               111.325967            118.877439
14    중구         61.074783               111.325967             86.200375
15  해운대구         53.724507               111.325967             82.525237

In [ ]:
final_art_facilities_index.to_csv('drive/MyDrive/ArtIndex/busan_arts_facilities_index.csv', encoding='utf-8-sig', index=False)