# busan_arts_achievement_index

In [1]:
import pandas as pd

In [2]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
final_art_achievement_index = pd.DataFrame(data)
final_art_achievement_index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [12]:
arts_achievement_index = pd.read_csv('busan_arts_achievement_index_calculate.csv')
arts_achievement_index

,구,avg_satisfaction,intent_to_watch,edu_intent,sat_leisure,happiness,life,perf_revenue,art_revenue,global_exchange
0,강서구,5.835556,12.2556,390,0.290402,0.330334,0.479928,493266,5946,9.03
1,금정구,5.835556,12.2556,390,0.090374,0.461744,0.536850,493266,5946,9.03
2,기장군,5.835556,12.2556,390,0.521070,0.473784,0.437427,493266,5946,9.03
3,남구,5.835556,12.2556,390,0.087064,0.427650,0.553098,493266,5946,9.03
4,동구,5.835556,12.2556,390,0.135842,0.531745,0.036110,493266,5946,9.03
5,동래구,5.835556,12.2556,390,0.065514,0.523733,0.643667,493266,5946,9.03
6,부산진구,5.835556,12.2556,390,0.119309,0.447026,0.423916,493266,5946,9.03
7,북구,5.835556,12.2556,390,0.000000,0.363738,0.306465,493266,5946,9.03
8,사상구,5.835556,12.2556,390,0.051671,0.403220,0.090277,493266,5946,9.03
9,사하구,5.835556,12.2556,390,0.090943,0.317932,0.110362,493266,5946,9.03
10,서구,5.835556,12.2556,390,0.107611,0.532875,0.304445,493266,5946,9.03
11,수영구,5.835556,12.2556,390,0.040432,0.417241,0.346696,493266,5946,9.03
12,연제구,5.835556,12.2556,390,0.023793,0.419896,0.642823,493266,5946,9.03
13,영도구,5.835556,12.2556,390,0.124300,0.351800,0.227300,493266,5946,9.03
14,중구,5.835556,12.2556,390,0.428850,0.603554,0.022514,493266,5946,9.03
15,해운대구,5.835556,12.2556,390,0.126660,0.391456,0.631429,493266,5946,9.03

## 문화예술만족도 및 관람의향 (Arts and culture satisfaction and intent to attend)

In [13]:
# 부산시 구별 데이터
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [14]:
Average_satisfaction_mean = arts_achievement_index['avg_satisfaction'].mean()
Average_satisfaction_mean

5.835556

In [15]:
cal_df['avg_satisfaction'] = arts_achievement_index['avg_satisfaction']/Average_satisfaction_mean
cal_df

       구  avg_satisfaction
0    강서구               1.0
1    금정구               1.0
2    기장군               1.0
3     남구               1.0
4     동구               1.0
5    동래구               1.0
6   부산진구               1.0
7     북구               1.0
8    사상구               1.0
9    사하구               1.0
10    서구               1.0
11   수영구               1.0
12   연제구               1.0
13   영도구               1.0
14    중구               1.0
15  해운대구               1.0

In [16]:
Sum_of_willingness_to_watch_mean = arts_achievement_index['intent_to_watch'].mean()
Sum_of_willingness_to_watch_mean

12.2556

In [18]:
cal_df['intent_to_watch'] = (arts_achievement_index['intent_to_watch']/Sum_of_willingness_to_watch_mean)/9
cal_df

       구  avg_satisfaction  intent_to_watch
0    강서구               1.0         0.111111
1    금정구               1.0         0.111111
2    기장군               1.0         0.111111
3     남구               1.0         0.111111
4     동구               1.0         0.111111
5    동래구               1.0         0.111111
6   부산진구               1.0         0.111111
7     북구               1.0         0.111111
8    사상구               1.0         0.111111
9    사하구               1.0         0.111111
10    서구               1.0         0.111111
11   수영구               1.0         0.111111
12   연제구               1.0         0.111111
13   영도구               1.0         0.111111
14    중구               1.0         0.111111
15  해운대구               1.0         0.111111

In [19]:
cal_df['sat_intent'] = (cal_df['avg_satisfaction'] + cal_df['intent_to_watch'])/2
cal_df['sat_intent'] = cal_df['sat_intent']*100
cal_df

       구  avg_satisfaction  intent_to_watch  sat_intent
0    강서구               1.0         0.111111   55.555556
1    금정구               1.0         0.111111   55.555556
2    기장군               1.0         0.111111   55.555556
3     남구               1.0         0.111111   55.555556
4     동구               1.0         0.111111   55.555556
5    동래구               1.0         0.111111   55.555556
6   부산진구               1.0         0.111111   55.555556
7     북구               1.0         0.111111   55.555556
8    사상구               1.0         0.111111   55.555556
9    사하구               1.0         0.111111   55.555556
10    서구               1.0         0.111111   55.555556
11   수영구               1.0         0.111111   55.555556
12   연제구               1.0         0.111111   55.555556
13   영도구               1.0         0.111111   55.555556
14    중구               1.0         0.111111   55.555556
15  해운대구               1.0         0.111111   55.555556

In [20]:
final_art_achievement_index['sat_intent'] = cal_df['sat_intent']
final_art_achievement_index

       구  sat_intent
0    강서구   55.555556
1    금정구   55.555556
2    기장군   55.555556
3     남구   55.555556
4     동구   55.555556
5    동래구   55.555556
6   부산진구   55.555556
7     북구   55.555556
8    사상구   55.555556
9    사하구   55.555556
10    서구   55.555556
11   수영구   55.555556
12   연제구   55.555556
13   영도구   55.555556
14    중구   55.555556
15  해운대구   55.555556

## 문화예술교육만족도 및 수강의향

In [21]:
Satisfaction_intention_arts_education_mean = arts_achievement_index['edu_intent'].mean()
Satisfaction_intention_arts_education_mean

390.0

In [22]:
final_art_achievement_index['edu_intent'] = (arts_achievement_index['edu_intent']/Satisfaction_intention_arts_education_mean)*100
final_art_achievement_index

       구  sat_intent  edu_intent
0    강서구   55.555556       100.0
1    금정구   55.555556       100.0
2    기장군   55.555556       100.0
3     남구   55.555556       100.0
4     동구   55.555556       100.0
5    동래구   55.555556       100.0
6   부산진구   55.555556       100.0
7     북구   55.555556       100.0
8    사상구   55.555556       100.0
9    사하구   55.555556       100.0
10    서구   55.555556       100.0
11   수영구   55.555556       100.0
12   연제구   55.555556       100.0
13   영도구   55.555556       100.0
14    중구   55.555556       100.0
15  해운대구   55.555556       100.0

## 여가생활 만족도

In [23]:
Leisure_satisfaction_mean = arts_achievement_index['sat_leisure'].mean()
Leisure_satisfaction_mean

0.14398955372620106

In [24]:
final_art_achievement_index['sat_leisure'] = (arts_achievement_index['sat_leisure']/Leisure_satisfaction_mean)*100
final_art_achievement_index['sat_leisure'] = final_art_achievement_index['sat_leisure'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure
0    강서구   55.555556       100.0       201.68
1    금정구   55.555556       100.0        62.76
2    기장군   55.555556       100.0       361.88
3     남구   55.555556       100.0        60.47
4     동구   55.555556       100.0        94.34
5    동래구   55.555556       100.0        45.50
6   부산진구   55.555556       100.0        82.86
7     북구   55.555556       100.0         0.00
8    사상구   55.555556       100.0        35.89
9    사하구   55.555556       100.0        63.16
10    서구   55.555556       100.0        74.73
11   수영구   55.555556       100.0        28.08
12   연제구   55.555556       100.0        16.52
13   영도구   55.555556       100.0        86.33
14    중구   55.555556       100.0       297.83
15  해운대구   55.555556       100.0        87.96

## 행복 및 삶의질 (Happiness and quality of life)

In [25]:
cal_df['Happiness_level'] = arts_achievement_index['happiness']
cal_df['Quality_of_life'] = arts_achievement_index['life']
cal_df

,구,avg_satisfaction,intent_to_watch,sat_intent,Happiness_level,Quality_of_life
0,강서구,1.0,0.111111,55.555556,0.330334,0.479928
1,금정구,1.0,0.111111,55.555556,0.461744,0.536850
2,기장군,1.0,0.111111,55.555556,0.473784,0.437427
3,남구,1.0,0.111111,55.555556,0.427650,0.553098
4,동구,1.0,0.111111,55.555556,0.531745,0.036110
5,동래구,1.0,0.111111,55.555556,0.523733,0.643667
6,부산진구,1.0,0.111111,55.555556,0.447026,0.423916
7,북구,1.0,0.111111,55.555556,0.363738,0.306465
8,사상구,1.0,0.111111,55.555556,0.403220,0.090277
9,사하구,1.0,0.111111,55.555556,0.317932,0.110362
10,서구,1.0,0.111111,55.555556,0.532875,0.304445
11,수영구,1.0,0.111111,55.555556,0.417241,0.346696
12,연제구,1.0,0.111111,55.555556,0.419896,0.642823
13,영도구,1.0,0.111111,55.555556,0.351800,0.227300
14,중구,1.0,0.111111,55.555556,0.603554,0.022514
15,해운대구,1.0,0.111111,55.555556,0.391456,0.631429

In [26]:
Happiness_level_mean= arts_achievement_index['happiness'].mean()
Happiness_level_mean

0.43735786715913627

In [27]:
Quality_of_life_mean = arts_achievement_index['life'].mean()
Quality_of_life_mean

0.36208167223939314

In [28]:
cal_df['Happiness_level'] = (arts_achievement_index['happiness']/Happiness_level_mean)*100
cal_df['Quality_of_life'] = (arts_achievement_index['life']/Quality_of_life_mean)*100
cal_df

,구,avg_satisfaction,intent_to_watch,sat_intent,Happiness_level,Quality_of_life
0,강서구,1.0,0.111111,55.555556,75.529363,132.546819
1,금정구,1.0,0.111111,55.555556,105.575808,148.267745
2,기장군,1.0,0.111111,55.555556,108.328596,120.808856
3,남구,1.0,0.111111,55.555556,97.780269,152.755087
4,동구,1.0,0.111111,55.555556,121.581139,9.972828
5,동래구,1.0,0.111111,55.555556,119.749279,177.768328
6,부산진구,1.0,0.111111,55.555556,102.210514,117.077388
7,북구,1.0,0.111111,55.555556,83.167081,84.639697
8,사상구,1.0,0.111111,55.555556,92.194587,24.932719
9,사하구,1.0,0.111111,55.555556,72.693746,30.479922
10,서구,1.0,0.111111,55.555556,121.839669,84.081862
11,수영구,1.0,0.111111,55.555556,95.400304,95.750795
12,연제구,1.0,0.111111,55.555556,96.007511,177.535349
13,영도구,1.0,0.111111,55.555556,80.437561,62.775892
14,중구,1.0,0.111111,55.555556,137.999946,6.218033
15,해운대구,1.0,0.111111,55.555556,89.504628,174.388679

In [29]:
final_art_achievement_index['happy_life'] = (cal_df['Happiness_level'] + cal_df['Quality_of_life'])/2
final_art_achievement_index['happy_life'] = final_art_achievement_index['happy_life'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure  happy_life
0    강서구   55.555556       100.0       201.68      104.04
1    금정구   55.555556       100.0        62.76      126.92
2    기장군   55.555556       100.0       361.88      114.57
3     남구   55.555556       100.0        60.47      125.27
4     동구   55.555556       100.0        94.34       65.78
5    동래구   55.555556       100.0        45.50      148.76
6   부산진구   55.555556       100.0        82.86      109.64
7     북구   55.555556       100.0         0.00       83.90
8    사상구   55.555556       100.0        35.89       58.56
9    사하구   55.555556       100.0        63.16       51.59
10    서구   55.555556       100.0        74.73      102.96
11   수영구   55.555556       100.0        28.08       95.58
12   연제구   55.555556       100.0        16.52      136.77
13   영도구   55.555556       100.0        86.33       71.61
14    중구   55.555556       100.0       297.83       72.11
15  해운대구   55.555556       100.0        87.96      131.95

## 공연시장매출액

In [30]:
arts_achievement_index

,구,avg_satisfaction,intent_to_watch,edu_intent,sat_leisure,happiness,life,perf_revenue,art_revenue,global_exchange
0,강서구,5.835556,12.2556,390,0.290402,0.330334,0.479928,493266,5946,9.03
1,금정구,5.835556,12.2556,390,0.090374,0.461744,0.536850,493266,5946,9.03
2,기장군,5.835556,12.2556,390,0.521070,0.473784,0.437427,493266,5946,9.03
3,남구,5.835556,12.2556,390,0.087064,0.427650,0.553098,493266,5946,9.03
4,동구,5.835556,12.2556,390,0.135842,0.531745,0.036110,493266,5946,9.03
5,동래구,5.835556,12.2556,390,0.065514,0.523733,0.643667,493266,5946,9.03
6,부산진구,5.835556,12.2556,390,0.119309,0.447026,0.423916,493266,5946,9.03
7,북구,5.835556,12.2556,390,0.000000,0.363738,0.306465,493266,5946,9.03
8,사상구,5.835556,12.2556,390,0.051671,0.403220,0.090277,493266,5946,9.03
9,사하구,5.835556,12.2556,390,0.090943,0.317932,0.110362,493266,5946,9.03
10,서구,5.835556,12.2556,390,0.107611,0.532875,0.304445,493266,5946,9.03
11,수영구,5.835556,12.2556,390,0.040432,0.417241,0.346696,493266,5946,9.03
12,연제구,5.835556,12.2556,390,0.023793,0.419896,0.642823,493266,5946,9.03
13,영도구,5.835556,12.2556,390,0.124300,0.351800,0.227300,493266,5946,9.03
14,중구,5.835556,12.2556,390,0.428850,0.603554,0.022514,493266,5946,9.03
15,해운대구,5.835556,12.2556,390,0.126660,0.391456,0.631429,493266,5946,9.03

In [31]:
Performance_market_revenue_mean = arts_achievement_index['perf_revenue'].mean()
Performance_market_revenue_mean

493266.0

In [32]:
final_art_achievement_index['perf_revenue'] = (arts_achievement_index['perf_revenue']/Performance_market_revenue_mean)*100
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure  happy_life  perf_revenue
0    강서구   55.555556       100.0       201.68      104.04         100.0
1    금정구   55.555556       100.0        62.76      126.92         100.0
2    기장군   55.555556       100.0       361.88      114.57         100.0
3     남구   55.555556       100.0        60.47      125.27         100.0
4     동구   55.555556       100.0        94.34       65.78         100.0
5    동래구   55.555556       100.0        45.50      148.76         100.0
6   부산진구   55.555556       100.0        82.86      109.64         100.0
7     북구   55.555556       100.0         0.00       83.90         100.0
8    사상구   55.555556       100.0        35.89       58.56         100.0
9    사하구   55.555556       100.0        63.16       51.59         100.0
10    서구   55.555556       100.0        74.73      102.96         100.0
11   수영구   55.555556       100.0        28.08       95.58         100.0
12   연제구   55.555556       100.0        16.52      136.77         100.0
13   영도구   55.555556       100.0        86.33       71.61         100.0
14    중구   55.555556       100.0       297.83       72.11         100.0
15  해운대구   55.555556       100.0        87.96      131.95         100.0

## 미술시장매출액

In [33]:
Art_market_revenue_mean = arts_achievement_index['art_revenue'].mean()
Art_market_revenue_mean

5946.0

In [34]:
final_art_achievement_index['art_revenue'] = (arts_achievement_index['art_revenue']/Art_market_revenue_mean)*100
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue
0,강서구,55.555556,100.0,201.68,104.04,100.0,100.0
1,금정구,55.555556,100.0,62.76,126.92,100.0,100.0
2,기장군,55.555556,100.0,361.88,114.57,100.0,100.0
3,남구,55.555556,100.0,60.47,125.27,100.0,100.0
4,동구,55.555556,100.0,94.34,65.78,100.0,100.0
5,동래구,55.555556,100.0,45.50,148.76,100.0,100.0
6,부산진구,55.555556,100.0,82.86,109.64,100.0,100.0
7,북구,55.555556,100.0,0.00,83.90,100.0,100.0
8,사상구,55.555556,100.0,35.89,58.56,100.0,100.0
9,사하구,55.555556,100.0,63.16,51.59,100.0,100.0
10,서구,55.555556,100.0,74.73,102.96,100.0,100.0
11,수영구,55.555556,100.0,28.08,95.58,100.0,100.0
12,연제구,55.555556,100.0,16.52,136.77,100.0,100.0
13,영도구,55.555556,100.0,86.33,71.61,100.0,100.0
14,중구,55.555556,100.0,297.83,72.11,100.0,100.0
15,해운대구,55.555556,100.0,87.96,131.95,100.0,100.0

## 문화예술 국제교류 건수

In [35]:
Cultural_exchanges_mean = arts_achievement_index['global_exchange'].mean()
Cultural_exchanges_mean

9.03

In [36]:
final_art_achievement_index['global_exchange'] = (arts_achievement_index['global_exchange']/Cultural_exchanges_mean)*100
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange
0,강서구,55.555556,100.0,201.68,104.04,100.0,100.0,100.0
1,금정구,55.555556,100.0,62.76,126.92,100.0,100.0,100.0
2,기장군,55.555556,100.0,361.88,114.57,100.0,100.0,100.0
3,남구,55.555556,100.0,60.47,125.27,100.0,100.0,100.0
4,동구,55.555556,100.0,94.34,65.78,100.0,100.0,100.0
5,동래구,55.555556,100.0,45.50,148.76,100.0,100.0,100.0
6,부산진구,55.555556,100.0,82.86,109.64,100.0,100.0,100.0
7,북구,55.555556,100.0,0.00,83.90,100.0,100.0,100.0
8,사상구,55.555556,100.0,35.89,58.56,100.0,100.0,100.0
9,사하구,55.555556,100.0,63.16,51.59,100.0,100.0,100.0
10,서구,55.555556,100.0,74.73,102.96,100.0,100.0,100.0
11,수영구,55.555556,100.0,28.08,95.58,100.0,100.0,100.0
12,연제구,55.555556,100.0,16.52,136.77,100.0,100.0,100.0
13,영도구,55.555556,100.0,86.33,71.61,100.0,100.0,100.0
14,중구,55.555556,100.0,297.83,72.11,100.0,100.0,100.0
15,해운대구,55.555556,100.0,87.96,131.95,100.0,100.0,100.0

## 향유결과지수

In [37]:
final_art_achievement_index['enjoyment_outcome_index'] = (final_art_achievement_index['sat_intent'] + final_art_achievement_index['edu_intent'] + final_art_achievement_index['sat_leisure'] + final_art_achievement_index['happy_life'])/4
final_art_achievement_index['enjoyment_outcome_index'] = final_art_achievement_index['enjoyment_outcome_index'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index
0,강서구,55.555556,100.0,201.68,104.04,100.0,100.0,100.0,115.32
1,금정구,55.555556,100.0,62.76,126.92,100.0,100.0,100.0,86.31
2,기장군,55.555556,100.0,361.88,114.57,100.0,100.0,100.0,158.00
3,남구,55.555556,100.0,60.47,125.27,100.0,100.0,100.0,85.32
4,동구,55.555556,100.0,94.34,65.78,100.0,100.0,100.0,78.92
5,동래구,55.555556,100.0,45.50,148.76,100.0,100.0,100.0,87.45
6,부산진구,55.555556,100.0,82.86,109.64,100.0,100.0,100.0,87.01
7,북구,55.555556,100.0,0.00,83.90,100.0,100.0,100.0,59.86
8,사상구,55.555556,100.0,35.89,58.56,100.0,100.0,100.0,62.50
9,사하구,55.555556,100.0,63.16,51.59,100.0,100.0,100.0,67.58
10,서구,55.555556,100.0,74.73,102.96,100.0,100.0,100.0,83.31
11,수영구,55.555556,100.0,28.08,95.58,100.0,100.0,100.0,69.80
12,연제구,55.555556,100.0,16.52,136.77,100.0,100.0,100.0,77.21
13,영도구,55.555556,100.0,86.33,71.61,100.0,100.0,100.0,78.37
14,중구,55.555556,100.0,297.83,72.11,100.0,100.0,100.0,131.37
15,해운대구,55.555556,100.0,87.96,131.95,100.0,100.0,100.0,93.87

## 시장성과지수

In [38]:
final_art_achievement_index['market_performance_index'] = (final_art_achievement_index['perf_revenue'] + final_art_achievement_index['art_revenue'] + final_art_achievement_index['global_exchange'])/3
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index,market_performance_index
0,강서구,55.555556,100.0,201.68,104.04,100.0,100.0,100.0,115.32,100.0
1,금정구,55.555556,100.0,62.76,126.92,100.0,100.0,100.0,86.31,100.0
2,기장군,55.555556,100.0,361.88,114.57,100.0,100.0,100.0,158.00,100.0
3,남구,55.555556,100.0,60.47,125.27,100.0,100.0,100.0,85.32,100.0
4,동구,55.555556,100.0,94.34,65.78,100.0,100.0,100.0,78.92,100.0
5,동래구,55.555556,100.0,45.50,148.76,100.0,100.0,100.0,87.45,100.0
6,부산진구,55.555556,100.0,82.86,109.64,100.0,100.0,100.0,87.01,100.0
7,북구,55.555556,100.0,0.00,83.90,100.0,100.0,100.0,59.86,100.0
8,사상구,55.555556,100.0,35.89,58.56,100.0,100.0,100.0,62.50,100.0
9,사하구,55.555556,100.0,63.16,51.59,100.0,100.0,100.0,67.58,100.0
10,서구,55.555556,100.0,74.73,102.96,100.0,100.0,100.0,83.31,100.0
11,수영구,55.555556,100.0,28.08,95.58,100.0,100.0,100.0,69.80,100.0
12,연제구,55.555556,100.0,16.52,136.77,100.0,100.0,100.0,77.21,100.0
13,영도구,55.555556,100.0,86.33,71.61,100.0,100.0,100.0,78.37,100.0
14,중구,55.555556,100.0,297.83,72.11,100.0,100.0,100.0,131.37,100.0
15,해운대구,55.555556,100.0,87.96,131.95,100.0,100.0,100.0,93.87,100.0

## 예술성과지수

In [39]:
final_art_achievement_index['busan_arts_achievement_index'] = (final_art_achievement_index['enjoyment_outcome_index'] + final_art_achievement_index['market_performance_index'])/2
final_art_achievement_index['busan_arts_achievement_index'] = final_art_achievement_index['busan_arts_achievement_index'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index,market_performance_index,busan_arts_achievement_index
0,강서구,55.555556,100.0,201.68,104.04,100.0,100.0,100.0,115.32,100.0,107.66
1,금정구,55.555556,100.0,62.76,126.92,100.0,100.0,100.0,86.31,100.0,93.16
2,기장군,55.555556,100.0,361.88,114.57,100.0,100.0,100.0,158.00,100.0,129.00
3,남구,55.555556,100.0,60.47,125.27,100.0,100.0,100.0,85.32,100.0,92.66
4,동구,55.555556,100.0,94.34,65.78,100.0,100.0,100.0,78.92,100.0,89.46
5,동래구,55.555556,100.0,45.50,148.76,100.0,100.0,100.0,87.45,100.0,93.72
6,부산진구,55.555556,100.0,82.86,109.64,100.0,100.0,100.0,87.01,100.0,93.50
7,북구,55.555556,100.0,0.00,83.90,100.0,100.0,100.0,59.86,100.0,79.93
8,사상구,55.555556,100.0,35.89,58.56,100.0,100.0,100.0,62.50,100.0,81.25
9,사하구,55.555556,100.0,63.16,51.59,100.0,100.0,100.0,67.58,100.0,83.79
10,서구,55.555556,100.0,74.73,102.96,100.0,100.0,100.0,83.31,100.0,91.66
11,수영구,55.555556,100.0,28.08,95.58,100.0,100.0,100.0,69.80,100.0,84.90
12,연제구,55.555556,100.0,16.52,136.77,100.0,100.0,100.0,77.21,100.0,88.60
13,영도구,55.555556,100.0,86.33,71.61,100.0,100.0,100.0,78.37,100.0,89.18
14,중구,55.555556,100.0,297.83,72.11,100.0,100.0,100.0,131.37,100.0,115.68
15,해운대구,55.555556,100.0,87.96,131.95,100.0,100.0,100.0,93.87,100.0,96.94

In [40]:
final_art_achievement_index.to_csv('busan_arts_achievement_index.csv', encoding='utf-8-sig', index=False)