In [4]:
import pandas as pd

In [5]:
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
Seoul_arts_index = pd.DataFrame(data)
Seoul_arts_index

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [6]:
arts_creation_production_index = pd.read_csv('/content/arts_creation_production_index.csv')
arts_finance_index = pd.read_csv('/content/arts_finance_index.csv')
arts_facilities_index = pd.read_csv('/content/arts_facilities_index.csv')
arts_enjoyment_index = pd.read_csv('/content/arts_enjoyment_index.csv')
arts_achievement_index = pd.read_csv('/content/arts_achievement_index.csv')

## 예술창작/생산지수

In [7]:
arts_creation_production_index['arts_creation_production_index']

0     108.46
1     108.46
2     108.46
3     108.46
4     108.46
5     108.46
6     108.46
7     108.46
8     108.46
9     108.46
10    108.46
11    108.46
12    108.46
13    108.46
14    108.46
15    108.46
16    108.46
17    108.46
18    108.46
19    108.46
20    108.46
21    108.46
22    108.46
23    108.46
24    108.46
Name: arts_creation_production_index, dtype: float64

## 예술재정지수

In [8]:
arts_finance_index['arts_finance_index']

0     172.60
1     129.14
2      49.80
3      83.56
4     102.88
5     257.64
6      53.14
7      51.47
8     102.10
9      49.80
10     99.80
11     49.80
12     99.80
13    102.80
14    384.94
15    138.95
16     97.61
17     70.04
18     99.80
19     57.08
20     49.80
21    822.02
22     99.80
23     99.80
24    102.80
Name: arts_finance_index, dtype: float64

## 예술시설지수

In [9]:
arts_facilities_index['arts_facilities_index']

0      99.76
1      99.76
2     100.00
3     101.31
4      99.28
5     100.89
6      99.60
7      99.24
8      99.93
9      99.99
10     99.50
11     99.82
12     99.96
13     99.53
14    100.55
15    100.14
16     99.69
17     99.70
18     99.98
19     99.51
20    100.82
21     99.94
22    100.58
23     99.66
24     99.72
Name: arts_facilities_index, dtype: float64

## 예술향유지수

In [10]:
arts_enjoyment_index['arts_enjoyment_index']

0     104.97
1     115.37
2     110.50
3     102.50
4     121.54
5     103.21
6     116.42
7     103.86
8     108.58
9     129.14
10    171.21
11    145.58
12    118.73
13    112.02
14    138.94
15    104.28
16    111.00
17    103.87
18    113.40
19     92.50
20    142.61
21    141.79
22    127.39
23    117.50
24    127.77
Name: arts_enjoyment_index, dtype: float64

## 예술성과지수

In [11]:
arts_achievement_index['arts_achievement_index']

0     105.56
1     106.11
2      96.98
3     113.34
4     119.46
5     115.13
6      92.15
7      92.04
8      90.03
9      91.03
10    127.03
11    100.94
12     99.68
13    101.56
14     92.18
15    112.34
16    122.42
17    106.26
18     98.27
19     83.67
20    101.28
21    101.78
22    107.82
23    102.74
24    109.98
Name: arts_achievement_index, dtype: float64

## Arts Index

In [12]:
Seoul_arts_index['Seoul_arts_index'] = arts_creation_production_index['arts_creation_production_index'] + arts_finance_index['arts_finance_index'] + arts_facilities_index['arts_facilities_index'] + arts_enjoyment_index['arts_enjoyment_index'] + arts_achievement_index['arts_achievement_index']
Seoul_arts_index['Seoul_arts_index'] = Seoul_arts_index['Seoul_arts_index']/5
Seoul_arts_index['Seoul_arts_index'] = Seoul_arts_index['Seoul_arts_index'].round(2)
Seoul_arts_index

       구  Seoul_arts_index
0    강남구            118.27
1    강동구            111.77
2    강북구             93.15
3    강서구            101.83
4    관악구            110.32
5    광진구            137.07
6    구로구             93.95
7    금천구             91.01
8    노원구            101.82
9    도봉구             95.68
10  동대문구            121.20
11   동작구            100.92
12   마포구            105.33
13  서대문구            104.87
14   서초구            165.01
15   성동구            112.83
16   성북구            107.84
17   송파구             97.67
18   양천구            103.98
19  영등포구             88.24
20   용산구            100.59
21   은평구            254.80
22   종로구            108.81
23    중구            105.63
24   중랑구            109.75

In [13]:
summary = Seoul_arts_index.describe()
summary

       Seoul_arts_index
count          25.00000
mean          113.69360
std            33.37722
min            88.24000
25%           100.59000
50%           105.33000
75%           111.77000
max           254.80000

In [14]:
Seoul_arts_index.to_csv('Seoul_arts_index.csv', encoding='utf-8-sig', index=False)