In [31]:
import pandas as pd

# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
seoul_df = pd.DataFrame(data)
seoul_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [33]:
# 지표 파일
seoul_happiness = pd.read_excel('seoul_happiness.xlsx')

In [34]:
seoul_happiness = seoul_happiness.sort_values(by='구', ascending=True)
seoul_happiness = seoul_happiness.reset_index(drop=True)  # 인덱스 다시 지정
seoul_happiness

       구  2021  2022
0    강남구  6.53  6.35
1    강동구  6.27  6.86
2    강북구  6.18  6.52
3    강서구  6.13  6.37
4    관악구  6.23  6.73
5    광진구  6.38  6.53
6    구로구  6.29  6.48
7    금천구  6.19  6.37
8    노원구  6.38  6.59
9    도봉구  6.06  6.62
10  동대문구  6.24  6.76
11   동작구  6.36  7.11
12   마포구  6.29  6.91
13  서대문구  6.10  6.91
14   서초구  6.38  6.96
15   성동구  6.28  6.99
16   성북구  6.19  6.95
17   송파구  6.45  7.06
18   양천구  6.03  6.46
19  영등포구  6.33  6.38
20   용산구  6.13  6.50
21   은평구  6.24  7.01
22   종로구  6.23  6.90
23    중구  6.35  6.44
24   중랑구  6.32  6.92

In [35]:
seoul_df['happiness_2021'] = seoul_happiness[2021]
seoul_df['happiness_2022'] = seoul_happiness[2022]
seoul_df

       구  happiness_2021  happiness_2022
0    강남구            6.53            6.35
1    강동구            6.27            6.86
2    강북구            6.18            6.52
3    강서구            6.13            6.37
4    관악구            6.23            6.73
5    광진구            6.38            6.53
6    구로구            6.29            6.48
7    금천구            6.19            6.37
8    노원구            6.38            6.59
9    도봉구            6.06            6.62
10  동대문구            6.24            6.76
11   동작구            6.36            7.11
12   마포구            6.29            6.91
13  서대문구            6.10            6.91
14   서초구            6.38            6.96
15   성동구            6.28            6.99
16   성북구            6.19            6.95
17   송파구            6.45            7.06
18   양천구            6.03            6.46
19  영등포구            6.33            6.38
20   용산구            6.13            6.50
21   은평구            6.24            7.01
22   종로구            6.23            6.90
23    중구            6.35            6.44
24   중랑구            6.32            6.92

In [36]:
seoul_df.to_csv('seoul_data.csv', index=False)