# art_achievement_index

In [1]:
import pandas as pd

In [2]:
# 최종 지표 값들을 정리할 table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
final_art_achievement_index= pd.DataFrame(data)
final_art_achievement_index

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [4]:
art_achievement_index = pd.read_csv('/content/arts_achievement_index_calculate.csv')
art_achievement_index

,구,aacs_2021,aacs_2022,aacitt_2021,aacitt_2022,happiness_2021,happiness_2022,ms_2021,ms_2022,ams_2021,ams_2020,noce_2019,qof_2021,qof_2022,swaace_2021,swaace_2022,lls_2021,lls_2022
0,강남구,5.65,5.56222,150.9,175.6,6.53,6.35,50902.500,87856.00000,34469,32489,9.03,6.08,6.81,6.24,5.91,5.97,5.53
1,강동구,5.65,5.56222,150.9,175.6,6.27,6.86,41418.500,60038.75000,18986,6701,9.03,5.88,6.68,5.41,6.05,5.35,5.88
2,강북구,5.65,5.56222,150.9,175.6,6.18,6.52,31132.500,31917.75000,18986,6701,9.03,5.97,6.86,6.11,6.28,5.80,6.02
3,강서구,5.65,5.56222,150.9,175.6,6.13,6.37,38785.625,74212.37500,18986,6701,9.03,5.86,6.58,5.45,6.09,5.40,5.91
4,관악구,5.65,5.56222,150.9,175.6,6.23,6.73,29615.375,73335.87500,18986,6701,9.03,5.87,6.53,5.72,5.68,5.67,5.34
5,광진구,5.65,5.56222,150.9,175.6,6.38,6.53,43185.875,95399.12500,18986,6701,9.03,5.83,6.30,5.74,5.68,5.64,5.64
6,구로구,5.65,5.56222,150.9,175.6,6.29,6.48,33578.625,26088.87500,18986,6701,9.03,5.90,6.44,5.45,5.76,5.46,5.43
7,금천구,5.65,5.56222,150.9,175.6,6.19,6.37,37742.125,30014.25000,18986,6701,9.03,5.91,6.16,5.54,5.72,5.48,5.54
8,노원구,5.65,5.56222,150.9,175.6,6.38,6.59,36377.375,22121.50000,18986,6701,9.03,5.96,7.87,5.58,5.62,5.58,5.49
9,도봉구,5.65,5.56222,150.9,175.6,6.06,6.62,44489.875,30524.62500,18986,6701,9.03,5.83,6.15,5.40,5.62,5.40,5.56
10,동대문구,5.65,5.56222,150.9,175.6,6.24,6.76,32354.250,85993.37500,18986,6701,9.03,5.86,6.64,5.44,6.32,5.44,6.12
11,동작구,5.65,5.56222,150.9,175.6,6.36,7.11,39375.500,44233.37500,18986,6701,9.03,5.95,6.78,5.68,6.44,5.61,6.12
12,마포구,5.65,5.56222,150.9,175.6,6.29,6.91,46992.625,55752.87500,18986,6701,9.03,5.96,6.38,5.79,6.10,5.72,5.90
13,서대문구,5.65,5.56222,150.9,175.6,6.10,6.91,41375.250,53041.25000,18986,6701,9.03,6.02,6.82,6.14,6.30,5.85,6.04
14,서초구,5.65,5.56222,150.9,175.6,6.38,6.96,64112.125,50705.00000,18986,6701,9.03,6.10,7.27,6.18,6.09,5.90,5.72
15,성동구,5.65,5.56222,150.9,175.6,6.28,6.99,33645.000,64368.50000,18986,6701,9.03,5.96,6.73,6.18,6.42,5.91,6.22
16,성북구,5.65,5.56222,150.9,175.6,6.19,6.95,31366.750,81957.87500,18986,6701,9.03,5.95,6.45,5.79,5.75,5.70,5.64
17,송파구,5.65,5.56222,150.9,175.6,6.45,7.06,36822.000,58284.87500,18986,6701,9.03,6.02,6.91,6.19,6.26,5.92,6.12
18,양천구,5.65,5.56222,150.9,175.6,6.03,6.46,34243.250,39625.37500,18986,6701,9.03,5.86,5.96,5.36,5.52,5.30,5.41
19,영등포구,5.65,5.56222,150.9,175.6,6.33,6.38,42331.250,32707.00000,18986,6701,9.03,5.95,5.10,5.53,4.28,5.44,3.99
20,용산구,5.65,5.56222,150.9,175.6,6.13,6.50,46997.750,60288.75000,18986,6701,9.03,5.83,6.42,5.44,5.71,5.46,5.67
21,은평구,5.65,5.56222,150.9,175.6,6.24,7.01,39373.625,42683.12500,18986,6701,9.03,5.91,6.72,5.60,6.61,5.45,6.34
22,종로구,5.65,5.56222,150.9,175.6,6.23,6.90,47359.125,67999.32813,213109,107372,9.03,5.92,6.70,5.53,6.69,5.55,6.43
23,중구,5.65,5.56222,150.9,175.6,6.35,6.44,40040.000,61444.50000,18986,6701,9.03,5.96,6.18,6.17,5.89,5.92,5.74
24,중랑구,5.65,5.56222,150.9,175.6,6.32,6.92,29735.750,52583.87500,18986,6701,9.03,5.83,6.31,5.46,5.82,5.40,5.74

## 문화예술만족도 및 관람의향 (Arts and culture satisfaction and intent to attend)

In [5]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [7]:
# (Aacs_2022 / Aacs_2021, Avg(Aacitt_2022/Aacitt_2021))*100
cal_df['aacs'] = art_achievement_index['aacs_2022'] / art_achievement_index['aacs_2021']
cal_df['aacitt'] = (art_achievement_index['aacitt_2022'] / art_achievement_index['aacitt_2021']) / 9
cal_df['aacs_aacitt'] = (cal_df['aacs'] + cal_df['aacitt']) / 2 * 100
cal_df['aacs_aacitt'] = cal_df['aacs_aacitt'].round(2)
cal_df

       구      aacs    aacitt  aacs_aacitt
0    강남구  0.984464  0.129298        55.69
1    강동구  0.984464  0.129298        55.69
2    강북구  0.984464  0.129298        55.69
3    강서구  0.984464  0.129298        55.69
4    관악구  0.984464  0.129298        55.69
5    광진구  0.984464  0.129298        55.69
6    구로구  0.984464  0.129298        55.69
7    금천구  0.984464  0.129298        55.69
8    노원구  0.984464  0.129298        55.69
9    도봉구  0.984464  0.129298        55.69
10  동대문구  0.984464  0.129298        55.69
11   동작구  0.984464  0.129298        55.69
12   마포구  0.984464  0.129298        55.69
13  서대문구  0.984464  0.129298        55.69
14   서초구  0.984464  0.129298        55.69
15   성동구  0.984464  0.129298        55.69
16   성북구  0.984464  0.129298        55.69
17   송파구  0.984464  0.129298        55.69
18   양천구  0.984464  0.129298        55.69
19  영등포구  0.984464  0.129298        55.69
20   용산구  0.984464  0.129298        55.69
21   은평구  0.984464  0.129298        55.69
22   종로구  0.984464  0.129298        55.69
23    중구  0.984464  0.129298        55.69
24   중랑구  0.984464  0.129298        55.69

In [8]:
final_art_achievement_index['sat_intent'] = cal_df['aacs_aacitt']
final_art_achievement_index

       구  sat_intent
0    강남구       55.69
1    강동구       55.69
2    강북구       55.69
3    강서구       55.69
4    관악구       55.69
5    광진구       55.69
6    구로구       55.69
7    금천구       55.69
8    노원구       55.69
9    도봉구       55.69
10  동대문구       55.69
11   동작구       55.69
12   마포구       55.69
13  서대문구       55.69
14   서초구       55.69
15   성동구       55.69
16   성북구       55.69
17   송파구       55.69
18   양천구       55.69
19  영등포구       55.69
20   용산구       55.69
21   은평구       55.69
22   종로구       55.69
23    중구       55.69
24   중랑구       55.69

## 문화예술교육만족도 및 수강의향

In [9]:
# Avg((Aacs_2022 / Aacs_2021), Avg(Aacitt_2022/Aacitt_2021))*100
cal_df['swaace'] = art_achievement_index['swaace_2022']/art_achievement_index['swaace_2021']
cal_df['swaace'] = cal_df['swaace']*100
cal_df

       구      aacs    aacitt  aacs_aacitt      swaace
0    강남구  0.984464  0.129298        55.69   94.711538
1    강동구  0.984464  0.129298        55.69  111.829945
2    강북구  0.984464  0.129298        55.69  102.782324
3    강서구  0.984464  0.129298        55.69  111.743119
4    관악구  0.984464  0.129298        55.69   99.300699
5    광진구  0.984464  0.129298        55.69   98.954704
6    구로구  0.984464  0.129298        55.69  105.688073
7    금천구  0.984464  0.129298        55.69  103.249097
8    노원구  0.984464  0.129298        55.69  100.716846
9    도봉구  0.984464  0.129298        55.69  104.074074
10  동대문구  0.984464  0.129298        55.69  116.176471
11   동작구  0.984464  0.129298        55.69  113.380282
12   마포구  0.984464  0.129298        55.69  105.354059
13  서대문구  0.984464  0.129298        55.69  102.605863
14   서초구  0.984464  0.129298        55.69   98.543689
15   성동구  0.984464  0.129298        55.69  103.883495
16   성북구  0.984464  0.129298        55.69   99.309154
17   송파구  0.984464  0.129298        55.69  101.130856
18   양천구  0.984464  0.129298        55.69  102.985075
19  영등포구  0.984464  0.129298        55.69   77.396022
20   용산구  0.984464  0.129298        55.69  104.963235
21   은평구  0.984464  0.129298        55.69  118.035714
22   종로구  0.984464  0.129298        55.69  120.976492
23    중구  0.984464  0.129298        55.69   95.461912
24   중랑구  0.984464  0.129298        55.69  106.593407

In [10]:
final_art_achievement_index['edu_intent'] = cal_df['swaace']
final_art_achievement_index['edu_intent'] = final_art_achievement_index['edu_intent'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent
0    강남구       55.69       94.71
1    강동구       55.69      111.83
2    강북구       55.69      102.78
3    강서구       55.69      111.74
4    관악구       55.69       99.30
5    광진구       55.69       98.95
6    구로구       55.69      105.69
7    금천구       55.69      103.25
8    노원구       55.69      100.72
9    도봉구       55.69      104.07
10  동대문구       55.69      116.18
11   동작구       55.69      113.38
12   마포구       55.69      105.35
13  서대문구       55.69      102.61
14   서초구       55.69       98.54
15   성동구       55.69      103.88
16   성북구       55.69       99.31
17   송파구       55.69      101.13
18   양천구       55.69      102.99
19  영등포구       55.69       77.40
20   용산구       55.69      104.96
21   은평구       55.69      118.04
22   종로구       55.69      120.98
23    중구       55.69       95.46
24   중랑구       55.69      106.59

## 여가생활 만족도

In [11]:
# (Lls_2022/Lls_2021)*100
cal_df['lls'] = art_achievement_index['lls_2022']/art_achievement_index['lls_2021']
cal_df['lls'] = cal_df['lls']*100
cal_df

       구      aacs    aacitt  aacs_aacitt      swaace         lls
0    강남구  0.984464  0.129298        55.69   94.711538   92.629816
1    강동구  0.984464  0.129298        55.69  111.829945  109.906542
2    강북구  0.984464  0.129298        55.69  102.782324  103.793103
3    강서구  0.984464  0.129298        55.69  111.743119  109.444444
4    관악구  0.984464  0.129298        55.69   99.300699   94.179894
5    광진구  0.984464  0.129298        55.69   98.954704  100.000000
6    구로구  0.984464  0.129298        55.69  105.688073   99.450549
7    금천구  0.984464  0.129298        55.69  103.249097  101.094891
8    노원구  0.984464  0.129298        55.69  100.716846   98.387097
9    도봉구  0.984464  0.129298        55.69  104.074074  102.962963
10  동대문구  0.984464  0.129298        55.69  116.176471  112.500000
11   동작구  0.984464  0.129298        55.69  113.380282  109.090909
12   마포구  0.984464  0.129298        55.69  105.354059  103.146853
13  서대문구  0.984464  0.129298        55.69  102.605863  103.247863
14   서초구  0.984464  0.129298        55.69   98.543689   96.949153
15   성동구  0.984464  0.129298        55.69  103.883495  105.245347
16   성북구  0.984464  0.129298        55.69   99.309154   98.947368
17   송파구  0.984464  0.129298        55.69  101.130856  103.378378
18   양천구  0.984464  0.129298        55.69  102.985075  102.075472
19  영등포구  0.984464  0.129298        55.69   77.396022   73.345588
20   용산구  0.984464  0.129298        55.69  104.963235  103.846154
21   은평구  0.984464  0.129298        55.69  118.035714  116.330275
22   종로구  0.984464  0.129298        55.69  120.976492  115.855856
23    중구  0.984464  0.129298        55.69   95.461912   96.959459
24   중랑구  0.984464  0.129298        55.69  106.593407  106.296296

In [12]:
final_art_achievement_index['sat_leisure'] = cal_df['lls']
final_art_achievement_index['sat_leisure'] = final_art_achievement_index['sat_leisure'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure
0    강남구       55.69       94.71        92.63
1    강동구       55.69      111.83       109.91
2    강북구       55.69      102.78       103.79
3    강서구       55.69      111.74       109.44
4    관악구       55.69       99.30        94.18
5    광진구       55.69       98.95       100.00
6    구로구       55.69      105.69        99.45
7    금천구       55.69      103.25       101.09
8    노원구       55.69      100.72        98.39
9    도봉구       55.69      104.07       102.96
10  동대문구       55.69      116.18       112.50
11   동작구       55.69      113.38       109.09
12   마포구       55.69      105.35       103.15
13  서대문구       55.69      102.61       103.25
14   서초구       55.69       98.54        96.95
15   성동구       55.69      103.88       105.25
16   성북구       55.69       99.31        98.95
17   송파구       55.69      101.13       103.38
18   양천구       55.69      102.99       102.08
19  영등포구       55.69       77.40        73.35
20   용산구       55.69      104.96       103.85
21   은평구       55.69      118.04       116.33
22   종로구       55.69      120.98       115.86
23    중구       55.69       95.46        96.96
24   중랑구       55.69      106.59       106.30

## 행복 및 삶의질 (Happiness and quality of life)

In [13]:
# (happiness_2022/happiness_2021)
cal_df['happiness'] = art_achievement_index['happiness_2022']/art_achievement_index['happiness_2021']
cal_df['happiness'] = cal_df['happiness']*100
cal_df['qol'] = art_achievement_index['qof_2022']/art_achievement_index['qof_2021']
cal_df['qol'] = cal_df['qol']*100
cal_df['happiness_Qol'] = (cal_df['happiness'] + cal_df['qol'])/2
cal_df['happiness_Qol']
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474

In [14]:
final_art_achievement_index['happy_life'] = cal_df['happiness_Qol']
final_art_achievement_index['happy_life'] = final_art_achievement_index['happy_life'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure  happy_life
0    강남구       55.69       94.71        92.63      104.63
1    강동구       55.69      111.83       109.91      111.51
2    강북구       55.69      102.78       103.79      110.20
3    강서구       55.69      111.74       109.44      108.10
4    관악구       55.69       99.30        94.18      109.63
5    광진구       55.69       98.95       100.00      105.21
6    구로구       55.69      105.69        99.45      106.09
7    금천구       55.69      103.25       101.09      103.57
8    노원구       55.69      100.72        98.39      117.67
9    도봉구       55.69      104.07       102.96      107.36
10  동대문구       55.69      116.18       112.50      110.82
11   동작구       55.69      113.38       109.09      112.87
12   마포구       55.69      105.35       103.15      108.45
13  서대문구       55.69      102.61       103.25      113.28
14   서초구       55.69       98.54        96.95      114.14
15   성동구       55.69      103.88       105.25      112.11
16   성북구       55.69       99.31        98.95      110.34
17   송파구       55.69      101.13       103.38      112.12
18   양천구       55.69      102.99       102.08      104.42
19  영등포구       55.69       77.40        73.35       93.25
20   용산구       55.69      104.96       103.85      108.08
21   은평구       55.69      118.04       116.33      113.02
22   종로구       55.69      120.98       115.86      111.97
23    중구       55.69       95.46        96.96      102.55
24   중랑구       55.69      106.59       106.30      108.86

## 공연시장매출액

In [15]:
# (ms_2022/ms_2021)*100
cal_df['ms'] = art_achievement_index['ms_2022']/art_achievement_index['ms_2021']
cal_df['ms'] = cal_df['ms']*100
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol,ms
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035,172.596631
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665,144.956360
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745,102.522284
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930,191.339897
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647,247.627710
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423,220.903536
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605,77.694888
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017,79.524537
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258,60.811150
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887,68.610274
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957,265.786952
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016,112.337304
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948,118.641755
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863,128.195600
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618,79.088004
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598,191.316689
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614,261.289024
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709,158.288184
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748,115.717331
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088,77.264432
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979,128.280077
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664,108.405373
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045,143.582315
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299,153.457792
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474,176.837225

In [16]:
final_art_achievement_index['perf_revenue'] = cal_df['ms']
final_art_achievement_index['perf_revenue'] = final_art_achievement_index['perf_revenue'].round(2)
final_art_achievement_index

       구  sat_intent  edu_intent  sat_leisure  happy_life  perf_revenue
0    강남구       55.69       94.71        92.63      104.63        172.60
1    강동구       55.69      111.83       109.91      111.51        144.96
2    강북구       55.69      102.78       103.79      110.20        102.52
3    강서구       55.69      111.74       109.44      108.10        191.34
4    관악구       55.69       99.30        94.18      109.63        247.63
5    광진구       55.69       98.95       100.00      105.21        220.90
6    구로구       55.69      105.69        99.45      106.09         77.69
7    금천구       55.69      103.25       101.09      103.57         79.52
8    노원구       55.69      100.72        98.39      117.67         60.81
9    도봉구       55.69      104.07       102.96      107.36         68.61
10  동대문구       55.69      116.18       112.50      110.82        265.79
11   동작구       55.69      113.38       109.09      112.87        112.34
12   마포구       55.69      105.35       103.15      108.45        118.64
13  서대문구       55.69      102.61       103.25      113.28        128.20
14   서초구       55.69       98.54        96.95      114.14         79.09
15   성동구       55.69      103.88       105.25      112.11        191.32
16   성북구       55.69       99.31        98.95      110.34        261.29
17   송파구       55.69      101.13       103.38      112.12        158.29
18   양천구       55.69      102.99       102.08      104.42        115.72
19  영등포구       55.69       77.40        73.35       93.25         77.26
20   용산구       55.69      104.96       103.85      108.08        128.28
21   은평구       55.69      118.04       116.33      113.02        108.41
22   종로구       55.69      120.98       115.86      111.97        143.58
23    중구       55.69       95.46        96.96      102.55        153.46
24   중랑구       55.69      106.59       106.30      108.86        176.84

## 미술시장매출액

In [17]:
# (Ams_2021/Ams_2021)*100 ----> 2022년 데이터가 존재하지 않기 때문에 지표 값이 1.00
cal_df['ams'] = art_achievement_index['ams_2021']/art_achievement_index['ams_2021']
cal_df['ams'] = cal_df['ams']*100
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol,ms,ams
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035,172.596631,100.0
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665,144.956360,100.0
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745,102.522284,100.0
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930,191.339897,100.0
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647,247.627710,100.0
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423,220.903536,100.0
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605,77.694888,100.0
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017,79.524537,100.0
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258,60.811150,100.0
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887,68.610274,100.0
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957,265.786952,100.0
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016,112.337304,100.0
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948,118.641755,100.0
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863,128.195600,100.0
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618,79.088004,100.0
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598,191.316689,100.0
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614,261.289024,100.0
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709,158.288184,100.0
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748,115.717331,100.0
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088,77.264432,100.0
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979,128.280077,100.0
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664,108.405373,100.0
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045,143.582315,100.0
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299,153.457792,100.0
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474,176.837225,100.0

In [18]:
final_art_achievement_index['art_revenue'] = cal_df['ams']
final_art_achievement_index['art_revenue'] = final_art_achievement_index['art_revenue'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue
0,강남구,55.69,94.71,92.63,104.63,172.60,100.0
1,강동구,55.69,111.83,109.91,111.51,144.96,100.0
2,강북구,55.69,102.78,103.79,110.20,102.52,100.0
3,강서구,55.69,111.74,109.44,108.10,191.34,100.0
4,관악구,55.69,99.30,94.18,109.63,247.63,100.0
5,광진구,55.69,98.95,100.00,105.21,220.90,100.0
6,구로구,55.69,105.69,99.45,106.09,77.69,100.0
7,금천구,55.69,103.25,101.09,103.57,79.52,100.0
8,노원구,55.69,100.72,98.39,117.67,60.81,100.0
9,도봉구,55.69,104.07,102.96,107.36,68.61,100.0
10,동대문구,55.69,116.18,112.50,110.82,265.79,100.0
11,동작구,55.69,113.38,109.09,112.87,112.34,100.0
12,마포구,55.69,105.35,103.15,108.45,118.64,100.0
13,서대문구,55.69,102.61,103.25,113.28,128.20,100.0
14,서초구,55.69,98.54,96.95,114.14,79.09,100.0
15,성동구,55.69,103.88,105.25,112.11,191.32,100.0
16,성북구,55.69,99.31,98.95,110.34,261.29,100.0
17,송파구,55.69,101.13,103.38,112.12,158.29,100.0
18,양천구,55.69,102.99,102.08,104.42,115.72,100.0
19,영등포구,55.69,77.40,73.35,93.25,77.26,100.0
20,용산구,55.69,104.96,103.85,108.08,128.28,100.0
21,은평구,55.69,118.04,116.33,113.02,108.41,100.0
22,종로구,55.69,120.98,115.86,111.97,143.58,100.0
23,중구,55.69,95.46,96.96,102.55,153.46,100.0
24,중랑구,55.69,106.59,106.30,108.86,176.84,100.0

## 문화예술 국제교류 건수

In [19]:
# (Noce_2019/Noce_2019)*100 ----> 2019년 데이터만 존재하지 않기 때문에 지표 값이 1.00
cal_df['noce'] = art_achievement_index['noce_2019']/art_achievement_index['noce_2019']
cal_df['noce'] = cal_df['noce']*100
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol,ms,ams,noce
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035,172.596631,100.0,100.0
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665,144.956360,100.0,100.0
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745,102.522284,100.0,100.0
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930,191.339897,100.0,100.0
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647,247.627710,100.0,100.0
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423,220.903536,100.0,100.0
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605,77.694888,100.0,100.0
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017,79.524537,100.0,100.0
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258,60.811150,100.0,100.0
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887,68.610274,100.0,100.0
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957,265.786952,100.0,100.0
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016,112.337304,100.0,100.0
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948,118.641755,100.0,100.0
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863,128.195600,100.0,100.0
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618,79.088004,100.0,100.0
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598,191.316689,100.0,100.0
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614,261.289024,100.0,100.0
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709,158.288184,100.0,100.0
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748,115.717331,100.0,100.0
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088,77.264432,100.0,100.0
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979,128.280077,100.0,100.0
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664,108.405373,100.0,100.0
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045,143.582315,100.0,100.0
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299,153.457792,100.0,100.0
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474,176.837225,100.0,100.0

In [20]:
final_art_achievement_index['global_exchange'] = cal_df['noce']
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange
0,강남구,55.69,94.71,92.63,104.63,172.60,100.0,100.0
1,강동구,55.69,111.83,109.91,111.51,144.96,100.0,100.0
2,강북구,55.69,102.78,103.79,110.20,102.52,100.0,100.0
3,강서구,55.69,111.74,109.44,108.10,191.34,100.0,100.0
4,관악구,55.69,99.30,94.18,109.63,247.63,100.0,100.0
5,광진구,55.69,98.95,100.00,105.21,220.90,100.0,100.0
6,구로구,55.69,105.69,99.45,106.09,77.69,100.0,100.0
7,금천구,55.69,103.25,101.09,103.57,79.52,100.0,100.0
8,노원구,55.69,100.72,98.39,117.67,60.81,100.0,100.0
9,도봉구,55.69,104.07,102.96,107.36,68.61,100.0,100.0
10,동대문구,55.69,116.18,112.50,110.82,265.79,100.0,100.0
11,동작구,55.69,113.38,109.09,112.87,112.34,100.0,100.0
12,마포구,55.69,105.35,103.15,108.45,118.64,100.0,100.0
13,서대문구,55.69,102.61,103.25,113.28,128.20,100.0,100.0
14,서초구,55.69,98.54,96.95,114.14,79.09,100.0,100.0
15,성동구,55.69,103.88,105.25,112.11,191.32,100.0,100.0
16,성북구,55.69,99.31,98.95,110.34,261.29,100.0,100.0
17,송파구,55.69,101.13,103.38,112.12,158.29,100.0,100.0
18,양천구,55.69,102.99,102.08,104.42,115.72,100.0,100.0
19,영등포구,55.69,77.40,73.35,93.25,77.26,100.0,100.0
20,용산구,55.69,104.96,103.85,108.08,128.28,100.0,100.0
21,은평구,55.69,118.04,116.33,113.02,108.41,100.0,100.0
22,종로구,55.69,120.98,115.86,111.97,143.58,100.0,100.0
23,중구,55.69,95.46,96.96,102.55,153.46,100.0,100.0
24,중랑구,55.69,106.59,106.30,108.86,176.84,100.0,100.0

## 향유결과지수

In [21]:
cal_df['enjoyment_outcome_index'] = final_art_achievement_index['sat_intent'] + final_art_achievement_index['edu_intent'] + final_art_achievement_index['sat_leisure'] + final_art_achievement_index['happy_life']
cal_df['enjoyment_outcome_index'] = cal_df['enjoyment_outcome_index'] / 4
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol,ms,ams,noce,enjoyment_outcome_index
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035,172.596631,100.0,100.0,86.9150
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665,144.956360,100.0,100.0,97.2350
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745,102.522284,100.0,100.0,93.1150
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930,191.339897,100.0,100.0,96.2425
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647,247.627710,100.0,100.0,89.7000
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423,220.903536,100.0,100.0,89.9625
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605,77.694888,100.0,100.0,91.7300
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017,79.524537,100.0,100.0,90.9000
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258,60.811150,100.0,100.0,93.1175
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887,68.610274,100.0,100.0,92.5200
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957,265.786952,100.0,100.0,98.7975
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016,112.337304,100.0,100.0,97.7575
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948,118.641755,100.0,100.0,93.1600
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863,128.195600,100.0,100.0,93.7075
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618,79.088004,100.0,100.0,91.3300
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598,191.316689,100.0,100.0,94.2325
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614,261.289024,100.0,100.0,91.0725
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709,158.288184,100.0,100.0,93.0800
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748,115.717331,100.0,100.0,91.2950
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088,77.264432,100.0,100.0,74.9225
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979,128.280077,100.0,100.0,93.1450
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664,108.405373,100.0,100.0,100.7700
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045,143.582315,100.0,100.0,101.1250
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299,153.457792,100.0,100.0,87.6650
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474,176.837225,100.0,100.0,94.3600

In [22]:
final_art_achievement_index['enjoyment_outcome_index'] = cal_df['enjoyment_outcome_index']
final_art_achievement_index['enjoyment_outcome_index'] = final_art_achievement_index['enjoyment_outcome_index'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index
0,강남구,55.69,94.71,92.63,104.63,172.60,100.0,100.0,86.92
1,강동구,55.69,111.83,109.91,111.51,144.96,100.0,100.0,97.23
2,강북구,55.69,102.78,103.79,110.20,102.52,100.0,100.0,93.12
3,강서구,55.69,111.74,109.44,108.10,191.34,100.0,100.0,96.24
4,관악구,55.69,99.30,94.18,109.63,247.63,100.0,100.0,89.70
5,광진구,55.69,98.95,100.00,105.21,220.90,100.0,100.0,89.96
6,구로구,55.69,105.69,99.45,106.09,77.69,100.0,100.0,91.73
7,금천구,55.69,103.25,101.09,103.57,79.52,100.0,100.0,90.90
8,노원구,55.69,100.72,98.39,117.67,60.81,100.0,100.0,93.12
9,도봉구,55.69,104.07,102.96,107.36,68.61,100.0,100.0,92.52
10,동대문구,55.69,116.18,112.50,110.82,265.79,100.0,100.0,98.80
11,동작구,55.69,113.38,109.09,112.87,112.34,100.0,100.0,97.76
12,마포구,55.69,105.35,103.15,108.45,118.64,100.0,100.0,93.16
13,서대문구,55.69,102.61,103.25,113.28,128.20,100.0,100.0,93.71
14,서초구,55.69,98.54,96.95,114.14,79.09,100.0,100.0,91.33
15,성동구,55.69,103.88,105.25,112.11,191.32,100.0,100.0,94.23
16,성북구,55.69,99.31,98.95,110.34,261.29,100.0,100.0,91.07
17,송파구,55.69,101.13,103.38,112.12,158.29,100.0,100.0,93.08
18,양천구,55.69,102.99,102.08,104.42,115.72,100.0,100.0,91.30
19,영등포구,55.69,77.40,73.35,93.25,77.26,100.0,100.0,74.92
20,용산구,55.69,104.96,103.85,108.08,128.28,100.0,100.0,93.14
21,은평구,55.69,118.04,116.33,113.02,108.41,100.0,100.0,100.77
22,종로구,55.69,120.98,115.86,111.97,143.58,100.0,100.0,101.12
23,중구,55.69,95.46,96.96,102.55,153.46,100.0,100.0,87.66
24,중랑구,55.69,106.59,106.30,108.86,176.84,100.0,100.0,94.36

## 시장성과지수

In [23]:
cal_df['market_performance_index'] = final_art_achievement_index['perf_revenue'] + final_art_achievement_index['art_revenue'] + final_art_achievement_index['global_exchange']
cal_df['market_performance_index'] = cal_df['market_performance_index']/3
cal_df

,구,aacs,aacitt,aacs_aacitt,swaace,lls,happiness,qol,happiness_Qol,ms,ams,noce,enjoyment_outcome_index,market_performance_index
0,강남구,0.984464,0.129298,55.69,94.711538,92.629816,97.243492,112.006579,104.625035,172.596631,100.0,100.0,86.9150,124.200000
1,강동구,0.984464,0.129298,55.69,111.829945,109.906542,109.409888,113.605442,111.507665,144.956360,100.0,100.0,97.2350,114.986667
2,강북구,0.984464,0.129298,55.69,102.782324,103.793103,105.501618,114.907873,110.204745,102.522284,100.0,100.0,93.1150,100.840000
3,강서구,0.984464,0.129298,55.69,111.743119,109.444444,103.915171,112.286689,108.100930,191.339897,100.0,100.0,96.2425,130.446667
4,관악구,0.984464,0.129298,55.69,99.300699,94.179894,108.025682,111.243612,109.634647,247.627710,100.0,100.0,89.7000,149.210000
5,광진구,0.984464,0.129298,55.69,98.954704,100.000000,102.351097,108.061750,105.206423,220.903536,100.0,100.0,89.9625,140.300000
6,구로구,0.984464,0.129298,55.69,105.688073,99.450549,103.020668,109.152542,106.086605,77.694888,100.0,100.0,91.7300,92.563333
7,금천구,0.984464,0.129298,55.69,103.249097,101.094891,102.907916,104.230118,103.569017,79.524537,100.0,100.0,90.9000,93.173333
8,노원구,0.984464,0.129298,55.69,100.716846,98.387097,103.291536,132.046980,117.669258,60.811150,100.0,100.0,93.1175,86.936667
9,도봉구,0.984464,0.129298,55.69,104.074074,102.962963,109.240924,105.488851,107.364887,68.610274,100.0,100.0,92.5200,89.536667
10,동대문구,0.984464,0.129298,55.69,116.176471,112.500000,108.333333,113.310580,110.821957,265.786952,100.0,100.0,98.7975,155.263333
11,동작구,0.984464,0.129298,55.69,113.380282,109.090909,111.792453,113.949580,112.871016,112.337304,100.0,100.0,97.7575,104.113333
12,마포구,0.984464,0.129298,55.69,105.354059,103.146853,109.856916,107.046980,108.451948,118.641755,100.0,100.0,93.1600,106.213333
13,서대문구,0.984464,0.129298,55.69,102.605863,103.247863,113.278689,113.289037,113.283863,128.195600,100.0,100.0,93.7075,109.400000
14,서초구,0.984464,0.129298,55.69,98.543689,96.949153,109.090909,119.180328,114.135618,79.088004,100.0,100.0,91.3300,93.030000
15,성동구,0.984464,0.129298,55.69,103.883495,105.245347,111.305732,112.919463,112.112598,191.316689,100.0,100.0,94.2325,130.440000
16,성북구,0.984464,0.129298,55.69,99.309154,98.947368,112.277868,108.403361,110.340614,261.289024,100.0,100.0,91.0725,153.763333
17,송파구,0.984464,0.129298,55.69,101.130856,103.378378,109.457364,114.784053,112.120709,158.288184,100.0,100.0,93.0800,119.430000
18,양천구,0.984464,0.129298,55.69,102.985075,102.075472,107.131012,101.706485,104.418748,115.717331,100.0,100.0,91.2950,105.240000
19,영등포구,0.984464,0.129298,55.69,77.396022,73.345588,100.789889,85.714286,93.252088,77.264432,100.0,100.0,74.9225,92.420000
20,용산구,0.984464,0.129298,55.69,104.963235,103.846154,106.035889,110.120069,108.077979,128.280077,100.0,100.0,93.1450,109.426667
21,은평구,0.984464,0.129298,55.69,118.035714,116.330275,112.339744,113.705584,113.022664,108.405373,100.0,100.0,100.7700,102.803333
22,종로구,0.984464,0.129298,55.69,120.976492,115.855856,110.754414,113.175676,111.965045,143.582315,100.0,100.0,101.1250,114.526667
23,중구,0.984464,0.129298,55.69,95.461912,96.959459,101.417323,103.691275,102.554299,153.457792,100.0,100.0,87.6650,117.820000
24,중랑구,0.984464,0.129298,55.69,106.593407,106.296296,109.493671,108.233276,108.863474,176.837225,100.0,100.0,94.3600,125.613333

In [24]:
final_art_achievement_index['market_performance_index'] = cal_df['market_performance_index']
final_art_achievement_index['market_performance_index'] = final_art_achievement_index['market_performance_index'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index,market_performance_index
0,강남구,55.69,94.71,92.63,104.63,172.60,100.0,100.0,86.92,124.20
1,강동구,55.69,111.83,109.91,111.51,144.96,100.0,100.0,97.23,114.99
2,강북구,55.69,102.78,103.79,110.20,102.52,100.0,100.0,93.12,100.84
3,강서구,55.69,111.74,109.44,108.10,191.34,100.0,100.0,96.24,130.45
4,관악구,55.69,99.30,94.18,109.63,247.63,100.0,100.0,89.70,149.21
5,광진구,55.69,98.95,100.00,105.21,220.90,100.0,100.0,89.96,140.30
6,구로구,55.69,105.69,99.45,106.09,77.69,100.0,100.0,91.73,92.56
7,금천구,55.69,103.25,101.09,103.57,79.52,100.0,100.0,90.90,93.17
8,노원구,55.69,100.72,98.39,117.67,60.81,100.0,100.0,93.12,86.94
9,도봉구,55.69,104.07,102.96,107.36,68.61,100.0,100.0,92.52,89.54
10,동대문구,55.69,116.18,112.50,110.82,265.79,100.0,100.0,98.80,155.26
11,동작구,55.69,113.38,109.09,112.87,112.34,100.0,100.0,97.76,104.11
12,마포구,55.69,105.35,103.15,108.45,118.64,100.0,100.0,93.16,106.21
13,서대문구,55.69,102.61,103.25,113.28,128.20,100.0,100.0,93.71,109.40
14,서초구,55.69,98.54,96.95,114.14,79.09,100.0,100.0,91.33,93.03
15,성동구,55.69,103.88,105.25,112.11,191.32,100.0,100.0,94.23,130.44
16,성북구,55.69,99.31,98.95,110.34,261.29,100.0,100.0,91.07,153.76
17,송파구,55.69,101.13,103.38,112.12,158.29,100.0,100.0,93.08,119.43
18,양천구,55.69,102.99,102.08,104.42,115.72,100.0,100.0,91.30,105.24
19,영등포구,55.69,77.40,73.35,93.25,77.26,100.0,100.0,74.92,92.42
20,용산구,55.69,104.96,103.85,108.08,128.28,100.0,100.0,93.14,109.43
21,은평구,55.69,118.04,116.33,113.02,108.41,100.0,100.0,100.77,102.80
22,종로구,55.69,120.98,115.86,111.97,143.58,100.0,100.0,101.12,114.53
23,중구,55.69,95.46,96.96,102.55,153.46,100.0,100.0,87.66,117.82
24,중랑구,55.69,106.59,106.30,108.86,176.84,100.0,100.0,94.36,125.61

In [25]:
final_art_achievement_index['arts_achievement_index'] = final_art_achievement_index['enjoyment_outcome_index'] + final_art_achievement_index['market_performance_index']
final_art_achievement_index['arts_achievement_index'] = final_art_achievement_index['arts_achievement_index']/2
final_art_achievement_index['arts_achievement_index'] = final_art_achievement_index['arts_achievement_index'].round(2)
final_art_achievement_index

,구,sat_intent,edu_intent,sat_leisure,happy_life,perf_revenue,art_revenue,global_exchange,enjoyment_outcome_index,market_performance_index,arts_achievement_index
0,강남구,55.69,94.71,92.63,104.63,172.60,100.0,100.0,86.92,124.20,105.56
1,강동구,55.69,111.83,109.91,111.51,144.96,100.0,100.0,97.23,114.99,106.11
2,강북구,55.69,102.78,103.79,110.20,102.52,100.0,100.0,93.12,100.84,96.98
3,강서구,55.69,111.74,109.44,108.10,191.34,100.0,100.0,96.24,130.45,113.34
4,관악구,55.69,99.30,94.18,109.63,247.63,100.0,100.0,89.70,149.21,119.46
5,광진구,55.69,98.95,100.00,105.21,220.90,100.0,100.0,89.96,140.30,115.13
6,구로구,55.69,105.69,99.45,106.09,77.69,100.0,100.0,91.73,92.56,92.15
7,금천구,55.69,103.25,101.09,103.57,79.52,100.0,100.0,90.90,93.17,92.04
8,노원구,55.69,100.72,98.39,117.67,60.81,100.0,100.0,93.12,86.94,90.03
9,도봉구,55.69,104.07,102.96,107.36,68.61,100.0,100.0,92.52,89.54,91.03
10,동대문구,55.69,116.18,112.50,110.82,265.79,100.0,100.0,98.80,155.26,127.03
11,동작구,55.69,113.38,109.09,112.87,112.34,100.0,100.0,97.76,104.11,100.94
12,마포구,55.69,105.35,103.15,108.45,118.64,100.0,100.0,93.16,106.21,99.68
13,서대문구,55.69,102.61,103.25,113.28,128.20,100.0,100.0,93.71,109.40,101.56
14,서초구,55.69,98.54,96.95,114.14,79.09,100.0,100.0,91.33,93.03,92.18
15,성동구,55.69,103.88,105.25,112.11,191.32,100.0,100.0,94.23,130.44,112.34
16,성북구,55.69,99.31,98.95,110.34,261.29,100.0,100.0,91.07,153.76,122.42
17,송파구,55.69,101.13,103.38,112.12,158.29,100.0,100.0,93.08,119.43,106.26
18,양천구,55.69,102.99,102.08,104.42,115.72,100.0,100.0,91.30,105.24,98.27
19,영등포구,55.69,77.40,73.35,93.25,77.26,100.0,100.0,74.92,92.42,83.67
20,용산구,55.69,104.96,103.85,108.08,128.28,100.0,100.0,93.14,109.43,101.28
21,은평구,55.69,118.04,116.33,113.02,108.41,100.0,100.0,100.77,102.80,101.78
22,종로구,55.69,120.98,115.86,111.97,143.58,100.0,100.0,101.12,114.53,107.82
23,중구,55.69,95.46,96.96,102.55,153.46,100.0,100.0,87.66,117.82,102.74
24,중랑구,55.69,106.59,106.30,108.86,176.84,100.0,100.0,94.36,125.61,109.98

In [26]:
final_art_achievement_index.to_csv('arts_achievement_index.csv', encoding='utf-8-sig', index=False)