# artistic_creation_production_index

In [1]:
import pandas as pd
import numpy as np

In [7]:
# 최종 지표 값들을 정리할 table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
final = pd.DataFrame(data)
final

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [8]:
arts_cp_index = pd.read_csv('/content/arts_creation_production_index_calculate.csv')
arts_cp_index

,구,workers_2021,workers_2022,groups_2020,groups_2021,applicants_2022,applicants_2023,contents_count_2019,contents_count_2020
0,강남구,463268,619953,1854,1826,2872,3402,126978,62139
1,강동구,463268,619953,1854,1826,2872,3402,126978,62139
2,강북구,463268,619953,1854,1826,2872,3402,126978,62139
3,강서구,463268,619953,1854,1826,2872,3402,126978,62139
4,관악구,463268,619953,1854,1826,2872,3402,126978,62139
5,광진구,463268,619953,1854,1826,2872,3402,126978,62139
6,구로구,463268,619953,1854,1826,2872,3402,126978,62139
7,금천구,463268,619953,1854,1826,2872,3402,126978,62139
8,노원구,463268,619953,1854,1826,2872,3402,126978,62139
9,도봉구,463268,619953,1854,1826,2872,3402,126978,62139
10,동대문구,463268,619953,1854,1826,2872,3402,126978,62139
11,동작구,463268,619953,1854,1826,2872,3402,126978,62139
12,마포구,463268,619953,1854,1826,2872,3402,126978,62139
13,서대문구,463268,619953,1854,1826,2872,3402,126978,62139
14,서초구,463268,619953,1854,1826,2872,3402,126978,62139
15,성동구,463268,619953,1854,1826,2872,3402,126978,62139
16,성북구,463268,619953,1854,1826,2872,3402,126978,62139
17,송파구,463268,619953,1854,1826,2872,3402,126978,62139
18,양천구,463268,619953,1854,1826,2872,3402,126978,62139
19,영등포구,463268,619953,1854,1826,2872,3402,126978,62139
20,용산구,463268,619953,1854,1826,2872,3402,126978,62139
21,은평구,463268,619953,1854,1826,2872,3402,126978,62139
22,종로구,463268,619953,1854,1826,2872,3402,126978,62139
23,중구,463268,619953,1854,1826,2872,3402,126978,62139
24,중랑구,463268,619953,1854,1826,2872,3402,126978,62139

## 문화예술종사자수

In [9]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [10]:
# (workers_2022/workers_2021)*100
cal_df['workers'] = arts_cp_index['workers_2022']/arts_cp_index['workers_2021']
cal_df['workers'] = cal_df['workers']*100
cal_df

       구     workers
0    강남구  133.821676
1    강동구  133.821676
2    강북구  133.821676
3    강서구  133.821676
4    관악구  133.821676
5    광진구  133.821676
6    구로구  133.821676
7    금천구  133.821676
8    노원구  133.821676
9    도봉구  133.821676
10  동대문구  133.821676
11   동작구  133.821676
12   마포구  133.821676
13  서대문구  133.821676
14   서초구  133.821676
15   성동구  133.821676
16   성북구  133.821676
17   송파구  133.821676
18   양천구  133.821676
19  영등포구  133.821676
20   용산구  133.821676
21   은평구  133.821676
22   종로구  133.821676
23    중구  133.821676
24   중랑구  133.821676

In [13]:
final['workers'] = cal_df['workers']
final

       구     workers
0    강남구  133.821676
1    강동구  133.821676
2    강북구  133.821676
3    강서구  133.821676
4    관악구  133.821676
5    광진구  133.821676
6    구로구  133.821676
7    금천구  133.821676
8    노원구  133.821676
9    도봉구  133.821676
10  동대문구  133.821676
11   동작구  133.821676
12   마포구  133.821676
13  서대문구  133.821676
14   서초구  133.821676
15   성동구  133.821676
16   성북구  133.821676
17   송파구  133.821676
18   양천구  133.821676
19  영등포구  133.821676
20   용산구  133.821676
21   은평구  133.821676
22   종로구  133.821676
23    중구  133.821676
24   중랑구  133.821676

## 문화예술활동가수

In [15]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [17]:
# ((groups_2021 / groups_2021)*100 + (applicants_2022 / applicants_2022)*100) / 2
# 2021, 2022 데이터를 사용해야 하나 해당 연도 데이터가 없으므로 100으로 나옴
cal_df['groups'] = arts_cp_index['groups_2021']/arts_cp_index['groups_2021']
cal_df['groups'] = cal_df['groups']*100
cal_df['applicants'] = arts_cp_index['applicants_2022']/arts_cp_index['applicants_2022']
cal_df['applicants'] = cal_df['applicants']*100
cal_df

       구  groups  applicants
0    강남구   100.0       100.0
1    강동구   100.0       100.0
2    강북구   100.0       100.0
3    강서구   100.0       100.0
4    관악구   100.0       100.0
5    광진구   100.0       100.0
6    구로구   100.0       100.0
7    금천구   100.0       100.0
8    노원구   100.0       100.0
9    도봉구   100.0       100.0
10  동대문구   100.0       100.0
11   동작구   100.0       100.0
12   마포구   100.0       100.0
13  서대문구   100.0       100.0
14   서초구   100.0       100.0
15   성동구   100.0       100.0
16   성북구   100.0       100.0
17   송파구   100.0       100.0
18   양천구   100.0       100.0
19  영등포구   100.0       100.0
20   용산구   100.0       100.0
21   은평구   100.0       100.0
22   종로구   100.0       100.0
23    중구   100.0       100.0
24   중랑구   100.0       100.0

In [18]:
cal_df['participants'] = (cal_df['groups'] + cal_df['applicants'])/2
cal_df

       구  groups  applicants  participants
0    강남구   100.0       100.0         100.0
1    강동구   100.0       100.0         100.0
2    강북구   100.0       100.0         100.0
3    강서구   100.0       100.0         100.0
4    관악구   100.0       100.0         100.0
5    광진구   100.0       100.0         100.0
6    구로구   100.0       100.0         100.0
7    금천구   100.0       100.0         100.0
8    노원구   100.0       100.0         100.0
9    도봉구   100.0       100.0         100.0
10  동대문구   100.0       100.0         100.0
11   동작구   100.0       100.0         100.0
12   마포구   100.0       100.0         100.0
13  서대문구   100.0       100.0         100.0
14   서초구   100.0       100.0         100.0
15   성동구   100.0       100.0         100.0
16   성북구   100.0       100.0         100.0
17   송파구   100.0       100.0         100.0
18   양천구   100.0       100.0         100.0
19  영등포구   100.0       100.0         100.0
20   용산구   100.0       100.0         100.0
21   은평구   100.0       100.0         100.0
22   종로구   100.0       100.0         100.0
23    중구   100.0       100.0         100.0
24   중랑구   100.0       100.0         100.0

In [22]:
final['participants'] = cal_df['participants']
final

       구     workers  participants
0    강남구  133.821676         100.0
1    강동구  133.821676         100.0
2    강북구  133.821676         100.0
3    강서구  133.821676         100.0
4    관악구  133.821676         100.0
5    광진구  133.821676         100.0
6    구로구  133.821676         100.0
7    금천구  133.821676         100.0
8    노원구  133.821676         100.0
9    도봉구  133.821676         100.0
10  동대문구  133.821676         100.0
11   동작구  133.821676         100.0
12   마포구  133.821676         100.0
13  서대문구  133.821676         100.0
14   서초구  133.821676         100.0
15   성동구  133.821676         100.0
16   성북구  133.821676         100.0
17   송파구  133.821676         100.0
18   양천구  133.821676         100.0
19  영등포구  133.821676         100.0
20   용산구  133.821676         100.0
21   은평구  133.821676         100.0
22   종로구  133.821676         100.0
23    중구  133.821676         100.0
24   중랑구  133.821676         100.0

## 문화예술콘텐츠건수

In [23]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [24]:
# (Content_2020/Content_2020)*100
cal_df['contents'] = arts_cp_index['contents_count_2020']/arts_cp_index['contents_count_2020']
cal_df['contents'] = cal_df['contents']*100
cal_df

       구  contents
0    강남구     100.0
1    강동구     100.0
2    강북구     100.0
3    강서구     100.0
4    관악구     100.0
5    광진구     100.0
6    구로구     100.0
7    금천구     100.0
8    노원구     100.0
9    도봉구     100.0
10  동대문구     100.0
11   동작구     100.0
12   마포구     100.0
13  서대문구     100.0
14   서초구     100.0
15   성동구     100.0
16   성북구     100.0
17   송파구     100.0
18   양천구     100.0
19  영등포구     100.0
20   용산구     100.0
21   은평구     100.0
22   종로구     100.0
23    중구     100.0
24   중랑구     100.0

In [26]:
final['contents_count'] = cal_df['contents']
final

       구     workers  participants  contents_count
0    강남구  133.821676         100.0           100.0
1    강동구  133.821676         100.0           100.0
2    강북구  133.821676         100.0           100.0
3    강서구  133.821676         100.0           100.0
4    관악구  133.821676         100.0           100.0
5    광진구  133.821676         100.0           100.0
6    구로구  133.821676         100.0           100.0
7    금천구  133.821676         100.0           100.0
8    노원구  133.821676         100.0           100.0
9    도봉구  133.821676         100.0           100.0
10  동대문구  133.821676         100.0           100.0
11   동작구  133.821676         100.0           100.0
12   마포구  133.821676         100.0           100.0
13  서대문구  133.821676         100.0           100.0
14   서초구  133.821676         100.0           100.0
15   성동구  133.821676         100.0           100.0
16   성북구  133.821676         100.0           100.0
17   송파구  133.821676         100.0           100.0
18   양천구  133.821676         100.0           100.0
19  영등포구  133.821676         100.0           100.0
20   용산구  133.821676         100.0           100.0
21   은평구  133.821676         100.0           100.0
22   종로구  133.821676         100.0           100.0
23    중구  133.821676         100.0           100.0
24   중랑구  133.821676         100.0           100.0

## 인력지수

In [27]:
# 계산을 위한 Table
# 서울시 구별 데이터
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}
# 데이터 프레임 생성
cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [28]:
cal_df['manpower_index'] = final['workers'] + final['participants']
cal_df['manpower_index'] = cal_df['manpower_index']/2
cal_df

       구  manpower_index
0    강남구      116.910838
1    강동구      116.910838
2    강북구      116.910838
3    강서구      116.910838
4    관악구      116.910838
5    광진구      116.910838
6    구로구      116.910838
7    금천구      116.910838
8    노원구      116.910838
9    도봉구      116.910838
10  동대문구      116.910838
11   동작구      116.910838
12   마포구      116.910838
13  서대문구      116.910838
14   서초구      116.910838
15   성동구      116.910838
16   성북구      116.910838
17   송파구      116.910838
18   양천구      116.910838
19  영등포구      116.910838
20   용산구      116.910838
21   은평구      116.910838
22   종로구      116.910838
23    중구      116.910838
24   중랑구      116.910838

In [34]:
final['manpower_index'] = cal_df['manpower_index']
final['manpower_index'] = final['manpower_index'].round(2)
final

       구     workers  participants  contents_count  manpower_index
0    강남구  133.821676         100.0           100.0          116.91
1    강동구  133.821676         100.0           100.0          116.91
2    강북구  133.821676         100.0           100.0          116.91
3    강서구  133.821676         100.0           100.0          116.91
4    관악구  133.821676         100.0           100.0          116.91
5    광진구  133.821676         100.0           100.0          116.91
6    구로구  133.821676         100.0           100.0          116.91
7    금천구  133.821676         100.0           100.0          116.91
8    노원구  133.821676         100.0           100.0          116.91
9    도봉구  133.821676         100.0           100.0          116.91
10  동대문구  133.821676         100.0           100.0          116.91
11   동작구  133.821676         100.0           100.0          116.91
12   마포구  133.821676         100.0           100.0          116.91
13  서대문구  133.821676         100.0           100.0          116.91
14   서초구  133.821676         100.0           100.0          116.91
15   성동구  133.821676         100.0           100.0          116.91
16   성북구  133.821676         100.0           100.0          116.91
17   송파구  133.821676         100.0           100.0          116.91
18   양천구  133.821676         100.0           100.0          116.91
19  영등포구  133.821676         100.0           100.0          116.91
20   용산구  133.821676         100.0           100.0          116.91
21   은평구  133.821676         100.0           100.0          116.91
22   종로구  133.821676         100.0           100.0          116.91
23    중구  133.821676         100.0           100.0          116.91
24   중랑구  133.821676         100.0           100.0          116.91

## 콘텐츠지수

In [35]:
cal_df['contents_index'] = final['contents_count']
cal_df['contents_index'] = cal_df['contents_index']
cal_df

       구  manpower_index  contents_index
0    강남구      116.910838           100.0
1    강동구      116.910838           100.0
2    강북구      116.910838           100.0
3    강서구      116.910838           100.0
4    관악구      116.910838           100.0
5    광진구      116.910838           100.0
6    구로구      116.910838           100.0
7    금천구      116.910838           100.0
8    노원구      116.910838           100.0
9    도봉구      116.910838           100.0
10  동대문구      116.910838           100.0
11   동작구      116.910838           100.0
12   마포구      116.910838           100.0
13  서대문구      116.910838           100.0
14   서초구      116.910838           100.0
15   성동구      116.910838           100.0
16   성북구      116.910838           100.0
17   송파구      116.910838           100.0
18   양천구      116.910838           100.0
19  영등포구      116.910838           100.0
20   용산구      116.910838           100.0
21   은평구      116.910838           100.0
22   종로구      116.910838           100.0
23    중구      116.910838           100.0
24   중랑구      116.910838           100.0

In [36]:
final['contents_index'] = cal_df['contents_index']
final

,구,workers,participants,contents_count,manpower_index,contents_index
0,강남구,133.821676,100.0,100.0,116.91,100.0
1,강동구,133.821676,100.0,100.0,116.91,100.0
2,강북구,133.821676,100.0,100.0,116.91,100.0
3,강서구,133.821676,100.0,100.0,116.91,100.0
4,관악구,133.821676,100.0,100.0,116.91,100.0
5,광진구,133.821676,100.0,100.0,116.91,100.0
6,구로구,133.821676,100.0,100.0,116.91,100.0
7,금천구,133.821676,100.0,100.0,116.91,100.0
8,노원구,133.821676,100.0,100.0,116.91,100.0
9,도봉구,133.821676,100.0,100.0,116.91,100.0
10,동대문구,133.821676,100.0,100.0,116.91,100.0
11,동작구,133.821676,100.0,100.0,116.91,100.0
12,마포구,133.821676,100.0,100.0,116.91,100.0
13,서대문구,133.821676,100.0,100.0,116.91,100.0
14,서초구,133.821676,100.0,100.0,116.91,100.0
15,성동구,133.821676,100.0,100.0,116.91,100.0
16,성북구,133.821676,100.0,100.0,116.91,100.0
17,송파구,133.821676,100.0,100.0,116.91,100.0
18,양천구,133.821676,100.0,100.0,116.91,100.0
19,영등포구,133.821676,100.0,100.0,116.91,100.0
20,용산구,133.821676,100.0,100.0,116.91,100.0
21,은평구,133.821676,100.0,100.0,116.91,100.0
22,종로구,133.821676,100.0,100.0,116.91,100.0
23,중구,133.821676,100.0,100.0,116.91,100.0
24,중랑구,133.821676,100.0,100.0,116.91,100.0

## 예술창작/생산지수

In [38]:
final['arts_creation_production_index'] = final['manpower_index'] + final['contents_index']
final['arts_creation_production_index'] = final['arts_creation_production_index']/2
final['arts_creation_production_index'] = final['arts_creation_production_index'].round(2)
final

,구,workers,participants,contents_count,manpower_index,contents_index,arts_creation_production_index
0,강남구,133.821676,100.0,100.0,116.91,100.0,108.46
1,강동구,133.821676,100.0,100.0,116.91,100.0,108.46
2,강북구,133.821676,100.0,100.0,116.91,100.0,108.46
3,강서구,133.821676,100.0,100.0,116.91,100.0,108.46
4,관악구,133.821676,100.0,100.0,116.91,100.0,108.46
5,광진구,133.821676,100.0,100.0,116.91,100.0,108.46
6,구로구,133.821676,100.0,100.0,116.91,100.0,108.46
7,금천구,133.821676,100.0,100.0,116.91,100.0,108.46
8,노원구,133.821676,100.0,100.0,116.91,100.0,108.46
9,도봉구,133.821676,100.0,100.0,116.91,100.0,108.46
10,동대문구,133.821676,100.0,100.0,116.91,100.0,108.46
11,동작구,133.821676,100.0,100.0,116.91,100.0,108.46
12,마포구,133.821676,100.0,100.0,116.91,100.0,108.46
13,서대문구,133.821676,100.0,100.0,116.91,100.0,108.46
14,서초구,133.821676,100.0,100.0,116.91,100.0,108.46
15,성동구,133.821676,100.0,100.0,116.91,100.0,108.46
16,성북구,133.821676,100.0,100.0,116.91,100.0,108.46
17,송파구,133.821676,100.0,100.0,116.91,100.0,108.46
18,양천구,133.821676,100.0,100.0,116.91,100.0,108.46
19,영등포구,133.821676,100.0,100.0,116.91,100.0,108.46
20,용산구,133.821676,100.0,100.0,116.91,100.0,108.46
21,은평구,133.821676,100.0,100.0,116.91,100.0,108.46
22,종로구,133.821676,100.0,100.0,116.91,100.0,108.46
23,중구,133.821676,100.0,100.0,116.91,100.0,108.46
24,중랑구,133.821676,100.0,100.0,116.91,100.0,108.46

In [39]:
final.to_csv('arts_creation_production_index.csv', encoding='utf-8-sig', index=False)