In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [4]:
art_facilities_index = pd.read_csv('/content/arts_facilities_index_calculate.csv')
art_facilities_index

,구,cul_fac_num_2021,cul_fac_num_2022,mil_fac_num_2021,mil_fac_num_2022,hall_num_2021,hall_num_2022,hall_rate_2021,hall_rate_2020,hall_people_2021,hall_people_2020,art_people_2021,art_people_2020
0,강남구,115,115,493.7,486.6,34,34,51.8,35.6,164,156,70,65
1,강동구,17,17,85.0,83.8,21,21,51.8,35.6,164,156,70,65
2,강북구,17,17,117.6,117.6,6,6,51.8,35.6,164,156,70,65
3,강서구,20,20,74.5,72.9,5,6,51.8,35.6,164,156,70,65
4,관악구,17,17,62.0,59.3,3,3,51.8,35.6,164,156,70,65
5,광진구,24,24,143.8,141.2,14,16,51.8,35.6,164,156,70,65
6,구로구,22,22,122.1,119.2,20,20,51.8,35.6,164,156,70,65
7,금천구,12,12,104.4,99.6,7,7,51.8,35.6,164,156,70,65
8,노원구,20,20,92.1,91.7,6,6,51.8,35.6,164,156,70,65
9,도봉구,23,23,166.4,166.3,5,5,51.8,35.6,164,156,70,65
10,동대문구,11,11,66.2,64.2,10,10,51.8,35.6,164,156,70,65
11,동작구,16,16,87.0,85.6,103,104,51.8,35.6,164,156,70,65
12,마포구,48,48,269.3,265.1,39,40,51.8,35.6,164,156,70,65
13,서대문구,26,26,181.7,176.6,9,9,51.8,35.6,164,156,70,65
14,서초구,43,43,250.4,255.4,38,39,51.8,35.6,164,156,70,65
15,성동구,16,16,118.8,119.8,11,11,51.8,35.6,164,156,70,65
16,성북구,25,25,128.7,126.3,14,14,51.8,35.6,164,156,70,65
17,송파구,25,25,89.1,87.5,13,13,51.8,35.6,164,156,70,65
18,양천구,16,16,88.4,88.3,6,6,51.8,35.6,164,156,70,65
19,영등포구,27,27,146.1,141.8,18,18,51.8,35.6,164,156,70,65
20,용산구,24,24,213.8,218.7,19,20,51.8,35.6,164,156,70,65
21,은평구,11,11,51.6,51.4,1,1,51.8,35.6,164,156,70,65
22,종로구,380,383,5155.2,5276.6,159,160,51.8,35.6,164,156,70,65
23,중구,56,56,891.1,871.5,267,268,51.8,35.6,164,156,70,65
24,중랑구,11,11,59.5,58.5,9,9,51.8,35.6,164,156,70,65

In [9]:
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}

final_art_facilities_index = pd.DataFrame(data)
final_art_facilities_index

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [10]:
data = {
    '구': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
}

cal_df = pd.DataFrame(data)
cal_df

       구
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [11]:
# 시설지수 계산
# 21, 22년도 데이터가 아닌 경우 21년도 데이터만 사용, 결과 100으로 나옴
cal_df['cul_fac_num'] = art_facilities_index['cul_fac_num_2022']/art_facilities_index['cul_fac_num_2021']
cal_df['cul_fac_num'] = cal_df['cul_fac_num']*100
cal_df['mil_fac_num'] = art_facilities_index['mil_fac_num_2022']/art_facilities_index['mil_fac_num_2021']
cal_df['mil_fac_num'] = cal_df['mil_fac_num']*100
cal_df['hall_num'] = art_facilities_index['hall_num_2022']/art_facilities_index['hall_num_2021']
cal_df['hall_num'] = cal_df['hall_num']*100
cal_df['hall_rate'] = art_facilities_index['hall_rate_2021']/art_facilities_index['hall_rate_2021']
cal_df['hall_rate'] = cal_df['hall_rate']*100
cal_df['hall_num_rate'] = (cal_df['hall_num'] + cal_df['hall_rate'])/2
cal_df

       구  cul_fac_num  mil_fac_num    hall_num  hall_rate  hall_num_rate
0    강남구   100.000000    98.561880  100.000000      100.0     100.000000
1    강동구   100.000000    98.588235  100.000000      100.0     100.000000
2    강북구   100.000000   100.000000  100.000000      100.0     100.000000
3    강서구   100.000000    97.852349  120.000000      100.0     110.000000
4    관악구   100.000000    95.645161  100.000000      100.0     100.000000
5    광진구   100.000000    98.191933  114.285714      100.0     107.142857
6    구로구   100.000000    97.624898  100.000000      100.0     100.000000
7    금천구   100.000000    95.402299  100.000000      100.0     100.000000
8    노원구   100.000000    99.565689  100.000000      100.0     100.000000
9    도봉구   100.000000    99.939904  100.000000      100.0     100.000000
10  동대문구   100.000000    96.978852  100.000000      100.0     100.000000
11   동작구   100.000000    98.390805  100.970874      100.0     100.485437
12   마포구   100.000000    98.440401  102.564103      100.0     101.282051
13  서대문구   100.000000    97.193176  100.000000      100.0     100.000000
14   서초구   100.000000   101.996805  102.631579      100.0     101.315789
15   성동구   100.000000   100.841751  100.000000      100.0     100.000000
16   성북구   100.000000    98.135198  100.000000      100.0     100.000000
17   송파구   100.000000    98.204265  100.000000      100.0     100.000000
18   양천구   100.000000    99.886878  100.000000      100.0     100.000000
19  영등포구   100.000000    97.056810  100.000000      100.0     100.000000
20   용산구   100.000000   102.291862  105.263158      100.0     102.631579
21   은평구   100.000000    99.612403  100.000000      100.0     100.000000
22   종로구   100.789474   102.354904  100.628931      100.0     100.314465
23    중구   100.000000    97.800471  100.374532      100.0     100.187266
24   중랑구   100.000000    98.319328  100.000000      100.0     100.000000

In [13]:
final_art_facilities_index['facilities_index'] = (cal_df['cul_fac_num'] + cal_df['mil_fac_num']+ cal_df['hall_num_rate'])/3
final_art_facilities_index['facilities_index'] = final_art_facilities_index['facilities_index'].round(2)
final_art_facilities_index

       구  facilities_index
0    강남구             99.52
1    강동구             99.53
2    강북구            100.00
3    강서구            102.62
4    관악구             98.55
5    광진구            101.78
6    구로구             99.21
7    금천구             98.47
8    노원구             99.86
9    도봉구             99.98
10  동대문구             98.99
11   동작구             99.63
12   마포구             99.91
13  서대문구             99.06
14   서초구            101.10
15   성동구            100.28
16   성북구             99.38
17   송파구             99.40
18   양천구             99.96
19  영등포구             99.02
20   용산구            101.64
21   은평구             99.87
22   종로구            101.15
23    중구             99.33
24   중랑구             99.44

In [14]:
# 시설인력지수 계산
# 21, 22년도 데이터가 아닌 경우 21년도 데이터만 사용, 결과 100으로 나옴
cal_df['hall_people'] = art_facilities_index['hall_people_2021']/art_facilities_index['hall_people_2021']
cal_df['hall_people'] = cal_df['hall_people']*100
cal_df['art_people'] = art_facilities_index['art_people_2021']/art_facilities_index['art_people_2021']
cal_df['art_people'] = cal_df['art_people']*100

cal_df

,구,cul_fac_num,mil_fac_num,hall_num,hall_rate,hall_num_rate,hall_people,art_people
0,강남구,100.000000,98.561880,100.000000,100.0,100.000000,100.0,100.0
1,강동구,100.000000,98.588235,100.000000,100.0,100.000000,100.0,100.0
2,강북구,100.000000,100.000000,100.000000,100.0,100.000000,100.0,100.0
3,강서구,100.000000,97.852349,120.000000,100.0,110.000000,100.0,100.0
4,관악구,100.000000,95.645161,100.000000,100.0,100.000000,100.0,100.0
5,광진구,100.000000,98.191933,114.285714,100.0,107.142857,100.0,100.0
6,구로구,100.000000,97.624898,100.000000,100.0,100.000000,100.0,100.0
7,금천구,100.000000,95.402299,100.000000,100.0,100.000000,100.0,100.0
8,노원구,100.000000,99.565689,100.000000,100.0,100.000000,100.0,100.0
9,도봉구,100.000000,99.939904,100.000000,100.0,100.000000,100.0,100.0
10,동대문구,100.000000,96.978852,100.000000,100.0,100.000000,100.0,100.0
11,동작구,100.000000,98.390805,100.970874,100.0,100.485437,100.0,100.0
12,마포구,100.000000,98.440401,102.564103,100.0,101.282051,100.0,100.0
13,서대문구,100.000000,97.193176,100.000000,100.0,100.000000,100.0,100.0
14,서초구,100.000000,101.996805,102.631579,100.0,101.315789,100.0,100.0
15,성동구,100.000000,100.841751,100.000000,100.0,100.000000,100.0,100.0
16,성북구,100.000000,98.135198,100.000000,100.0,100.000000,100.0,100.0
17,송파구,100.000000,98.204265,100.000000,100.0,100.000000,100.0,100.0
18,양천구,100.000000,99.886878,100.000000,100.0,100.000000,100.0,100.0
19,영등포구,100.000000,97.056810,100.000000,100.0,100.000000,100.0,100.0
20,용산구,100.000000,102.291862,105.263158,100.0,102.631579,100.0,100.0
21,은평구,100.000000,99.612403,100.000000,100.0,100.000000,100.0,100.0
22,종로구,100.789474,102.354904,100.628931,100.0,100.314465,100.0,100.0
23,중구,100.000000,97.800471,100.374532,100.0,100.187266,100.0,100.0
24,중랑구,100.000000,98.319328,100.000000,100.0,100.000000,100.0,100.0

In [15]:
final_art_facilities_index['facilities_people_index'] = (cal_df['hall_people'] + cal_df['art_people'])/2
final_art_facilities_index

       구  facilities_index  facilities_people_index
0    강남구             99.52                    100.0
1    강동구             99.53                    100.0
2    강북구            100.00                    100.0
3    강서구            102.62                    100.0
4    관악구             98.55                    100.0
5    광진구            101.78                    100.0
6    구로구             99.21                    100.0
7    금천구             98.47                    100.0
8    노원구             99.86                    100.0
9    도봉구             99.98                    100.0
10  동대문구             98.99                    100.0
11   동작구             99.63                    100.0
12   마포구             99.91                    100.0
13  서대문구             99.06                    100.0
14   서초구            101.10                    100.0
15   성동구            100.28                    100.0
16   성북구             99.38                    100.0
17   송파구             99.40                    100.0
18   양천구             99.96                    100.0
19  영등포구             99.02                    100.0
20   용산구            101.64                    100.0
21   은평구             99.87                    100.0
22   종로구            101.15                    100.0
23    중구             99.33                    100.0
24   중랑구             99.44                    100.0

In [17]:
# 예술시설지수
final_art_facilities_index['arts_facilities_index'] = final_art_facilities_index['facilities_index'] + final_art_facilities_index['facilities_people_index']
final_art_facilities_index['arts_facilities_index'] = final_art_facilities_index['arts_facilities_index']/2
final_art_facilities_index['arts_facilities_index'] = final_art_facilities_index['arts_facilities_index'].round(2)
final_art_facilities_index

       구  facilities_index  facilities_people_index  arts_facilities_index
0    강남구             99.52                    100.0                  99.76
1    강동구             99.53                    100.0                  99.76
2    강북구            100.00                    100.0                 100.00
3    강서구            102.62                    100.0                 101.31
4    관악구             98.55                    100.0                  99.28
5    광진구            101.78                    100.0                 100.89
6    구로구             99.21                    100.0                  99.60
7    금천구             98.47                    100.0                  99.24
8    노원구             99.86                    100.0                  99.93
9    도봉구             99.98                    100.0                  99.99
10  동대문구             98.99                    100.0                  99.50
11   동작구             99.63                    100.0                  99.82
12   마포구             99.91                    100.0                  99.96
13  서대문구             99.06                    100.0                  99.53
14   서초구            101.10                    100.0                 100.55
15   성동구            100.28                    100.0                 100.14
16   성북구             99.38                    100.0                  99.69
17   송파구             99.40                    100.0                  99.70
18   양천구             99.96                    100.0                  99.98
19  영등포구             99.02                    100.0                  99.51
20   용산구            101.64                    100.0                 100.82
21   은평구             99.87                    100.0                  99.94
22   종로구            101.15                    100.0                 100.58
23    중구             99.33                    100.0                  99.66
24   중랑구             99.44                    100.0                  99.72

In [18]:
final_art_facilities_index.to_csv('arts_facilities_index.csv', encoding='utf-8-sig', index=False)