In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd

In [30]:
art_facilities_index = pd.read_csv('drive/MyDrive/ArtIndex/busan_facilities_data.csv')
art_facilities_index

,구,cul_fac_num,mil_fac_num,hall_num,hall_rate,hall_people,art_people
0,강서구,6,97.557803,1,38.4,41.625,33.9375
1,금정구,29,268.344591,7,38.4,41.625,33.9375
2,기장군,22,286.260784,2,38.4,41.625,33.9375
3,남구,22,186.723929,18,38.4,41.625,33.9375
4,동구,17,366.679608,5,38.4,41.625,33.9375
5,동래구,13,112.342073,6,38.4,41.625,33.9375
6,부산진구,31,178.825864,4,38.4,41.625,33.9375
7,북구,13,105.420221,3,38.4,41.625,33.9375
8,사상구,13,131.817767,2,38.4,41.625,33.9375
9,사하구,15,107.446778,2,38.4,41.625,33.9375
10,서구,9,169.939577,1,38.4,41.625,33.9375
11,수영구,49,570.457297,7,38.4,41.625,33.9375
12,연제구,14,149.563062,1,38.4,41.625,33.9375
13,영도구,17,311.019228,3,38.4,41.625,33.9375
14,중구,35,1462.904911,6,38.4,41.625,33.9375
15,해운대구,98,568.455368,8,38.4,41.625,33.9375

In [31]:
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}

final_art_facilities_index = pd.DataFrame(data)
final_art_facilities_index

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [32]:
data = {
    '구': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
}

cal_df = pd.DataFrame(data)
cal_df

       구
0    강서구
1    금정구
2    기장군
3     남구
4     동구
5    동래구
6   부산진구
7     북구
8    사상구
9    사하구
10    서구
11   수영구
12   연제구
13   영도구
14    중구
15  해운대구

In [33]:
cal_df['hall_num'] = art_facilities_index['hall_num']
cal_df['mil_fac_num'] = art_facilities_index['mil_fac_num']
cal_df['hall_num'] = art_facilities_index['hall_num']
cal_df['hall_rate'] = art_facilities_index['hall_rate']
cal_df['hall_people'] = art_facilities_index['hall_people']
cal_df['art_people'] = art_facilities_index['art_people']

In [34]:
# 시설지수 계산
cal_df['hall_num_rate'] = (cal_df['hall_num'] + cal_df['hall_rate'])/2

In [35]:
final_art_facilities_index['facilities_index'] = (cal_df['hall_num'] + cal_df['mil_fac_num']+ cal_df['hall_num_rate'])/3
final_art_facilities_index

       구  facilities_index
0    강서구         39.419268
1    금정구         99.348197
2    기장군        102.820261
3     남구         77.641310
4     동구        131.126536
5    동래구         46.847358
6   부산진구         68.008621
7     북구         43.040074
8    사상구         51.339256
9    사하구         43.215593
10    서구         63.546526
11   수영구        200.052432
12   연제구         56.754354
13   영도구        111.573076
14    중구        497.034970
15  해운대구        199.885123

In [36]:
# 시설인력지수 계산
final_art_facilities_index['facilities_people_index'] = (cal_df['hall_people'] + cal_df['art_people'])/2
final_art_facilities_index

       구  facilities_index  facilities_people_index
0    강서구         39.419268                 37.78125
1    금정구         99.348197                 37.78125
2    기장군        102.820261                 37.78125
3     남구         77.641310                 37.78125
4     동구        131.126536                 37.78125
5    동래구         46.847358                 37.78125
6   부산진구         68.008621                 37.78125
7     북구         43.040074                 37.78125
8    사상구         51.339256                 37.78125
9    사하구         43.215593                 37.78125
10    서구         63.546526                 37.78125
11   수영구        200.052432                 37.78125
12   연제구         56.754354                 37.78125
13   영도구        111.573076                 37.78125
14    중구        497.034970                 37.78125
15  해운대구        199.885123                 37.78125

In [37]:
# 예술시설지수
final_art_facilities_index['art_facilities_index'] = final_art_facilities_index['facilities_index'] + final_art_facilities_index['facilities_people_index']
final_art_facilities_index['art_facilities_index'] = final_art_facilities_index['art_facilities_index']/2
final_art_facilities_index

       구  facilities_index  facilities_people_index  art_facilities_index
0    강서구         39.419268                 37.78125             38.600259
1    금정구         99.348197                 37.78125             68.564724
2    기장군        102.820261                 37.78125             70.300756
3     남구         77.641310                 37.78125             57.711280
4     동구        131.126536                 37.78125             84.453893
5    동래구         46.847358                 37.78125             42.314304
6   부산진구         68.008621                 37.78125             52.894936
7     북구         43.040074                 37.78125             40.410662
8    사상구         51.339256                 37.78125             44.560253
9    사하구         43.215593                 37.78125             40.498421
10    서구         63.546526                 37.78125             50.663888
11   수영구        200.052432                 37.78125            118.916841
12   연제구         56.754354                 37.78125             47.267802
13   영도구        111.573076                 37.78125             74.677163
14    중구        497.034970                 37.78125            267.408110
15  해운대구        199.885123                 37.78125            118.833186

In [38]:
final_art_facilities_index.to_csv('drive/MyDrive/ArtIndex/busan_art_facilities_index.csv', encoding='utf-8-sig', index=False)